<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="log-path" value="../actions_handler" />
	<statusListener
		class="ch.qos.logback.core.status.NopStatusListener" />
	<jmxConfigurator />
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">		
			<Pattern>[%date] %highlight([%level]) [%logger{10} %file:%line] %msg%n</Pattern>
			<!-- original %-4relative [%thread] %-6level %logger - %msg%n -->
			<!-- <Pattern>[%thread] %highlight(%-5level) %cyan(%logger{15}) - %msg 
				%n</Pattern> -->
		</layout>
	</appender>

	<appender name="CUSTOM_LOG_APPENDER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log-path}/erp2-negocio.log</File>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log-path}/logFileErp2Admin.%d{yyyy-MM-dd}.log
			</FileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%-4relative [%thread] %-6level %logger - %msg%n</Pattern>
		</layout>
	</appender>

	<appender name="FILE-ACTIONS-ADMIN-CDR"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log-path}/erp2-negocio-cdr.log</File>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<FileNamePattern>${log-path}/logFileErp2AdminCdr.%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yyyyMMddHHmmss}|%msg%n</Pattern>
		</layout>
	</appender>
	<appender name="FILE-ACTIONS-ADMIN-CDR-TAIL"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log-path}/erp2-negocio-tail.log</File>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<FileNamePattern>${log-path}/logFileErp2AdminTail.%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yyyyMMddHHmmss}|%msg%n</Pattern>
		</layout>
	</appender>

	<logger name="actions-handler-logger" level="info"
		additivity="true">
		<appender-ref ref="FILE-ACTIONS-ADMIN-CDR-TAIL" />
		<appender-ref ref="STDOUT" />
	</logger>
	<springProfile name="default">
		<logger name="mx.freshmanasoft.phs" level="debug"
			additivity="false">
			<appender-ref ref="CUSTOM_LOG_APPENDER" />
			<appender-ref ref="STDOUT" />
		</logger>
	</springProfile>
	<springProfile name="default">
		<logger name="mx.freshmanasoft.phs.batch"
			level="info" additivity="false">
			<appender-ref ref="FILE-ACTIONS-ADMIN-CDR-TAIL" />
			<appender-ref ref="STDOUT" />
		</logger>
	</springProfile>
	<logger name="org.springframework" level="error"
		additivity="false">
		<appender-ref ref="CUSTOM_LOG_APPENDER" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.hibernate" level="error" additivity="false">
		<appender-ref ref="CUSTOM_LOG_APPENDER" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.thymeleaf" level="error" additivity="false">
		<appender-ref ref="CUSTOM_LOG_APPENDER" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="net.sf.jasperreports" level="error"
		additivity="false">
		<appender-ref ref="CUSTOM_LOG_APPENDER" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="springfox.documentation" level="error"
		additivity="false">
		<appender-ref ref="CUSTOM_LOG_APPENDER" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.jboss.resteasy" level="error"
		additivity="false">
		<appender-ref ref="CUSTOM_LOG_APPENDER" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.apache.http" level="error" additivity="false">
		<appender-ref ref="CUSTOM_LOG_APPENDER" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.keycloak.adapters" level="error"
		additivity="false">
		<appender-ref ref="CUSTOM_LOG_APPENDER" />
		<appender-ref ref="STDOUT" />
	</logger>
	<springProfile name="test">
		<root level="info">
			<appender-ref ref="STDOUT" />
			<appender-ref ref="CUSTOM_LOG_APPENDER" />
		</root>
	</springProfile>
	<springProfile name="default,test">
		<root level="debug">
			<appender-ref ref="STDOUT" />
			<appender-ref ref="CUSTOM_LOG_APPENDER" />
		</root>
	</springProfile>
	<springProfile name="'prod', 'default','test'">
		<root level="ERROR">
			<appender-ref ref="STDOUT" />
			<appender-ref ref="CUSTOM_LOG_APPENDER" />
		</root>
	</springProfile>
</configuration>
