<div class="breadcrumb-holder">
	<div class="container-fluid">
		<ul class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Inicio</a></li>
			<li class="breadcrumb-item active">Cuentas bancarias</li>
		</ul>
	</div>
</div>
<!-- Seccion de contenido -->
<section data-ng-if="baCtrl.bankAccount">
	<div class="container-fluid">
		<header>
			<h1 class="h3 display">{{!baCtrl.bankAccount.id? 'Nueva' : 'Actualizar'}} cuenta bancaria</h1>
		</header>
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				<div class="card">
					<div class="card-header"></div>
					<div class="card-body">
						<form class="form-horizontal" name="formBankAccount" data-ng-submit="baCtrl.submitForm(formBankAccount.$valid)" novalidate>
							<div class="form-group row">
								<label class="col-sm-2 form-control-label">Banco</label>
								<div class="col-sm-10">
									<select class="form-control" data-ng-model="baCtrl.bankAccount.banco">
										<option disabled>Seleccione un banco...</option>
										<option value="Bancomer">Bancomer</option>
										<option value="Banamex">Banamex</option>
										<option value="Banorte">Banorte</option>
									</select>
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<label class="col-sm-2 form-control-label">Tipo de
									cuenta</label>
								<div class="col-sm-10">
									<select class="form-control" data-ng-model="baCtrl.bankAccount.tipoCuenta">
										<option disabled>Seleccione un tipo...</option>
										<option value="Bancomer">Opcion 1</option>
										<option value="Banamex">Opcion 2</option>
									</select>
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<label class="col-sm-2 form-control-label">Sucursal</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" data-ng-model="baCtrl.bankAccount.sucursal">
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<label class="col-sm-2 form-control-label">No. Ciente</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" data-ng-model="baCtrl.bankAccount.noCliente">
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<label class="col-sm-2 form-control-label">Clabe</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" data-ng-model="baCtrl.bankAccount.clabe">
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<label class="col-sm-2 form-control-label">Cuenta</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" data-ng-model="baCtrl.bankAccount.cuenta">
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<label class="col-sm-2 form-control-label">Número de
									targeta</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" data-ng-model="baCtrl.bankAccount.noTargeta">
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<label class="col-sm-2 form-control-label">Swif</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" data-ng-model="baCtrl.bankAccount.swif">
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<label class="col-sm-2 form-control-label">Moneda</label>
								<div class="col-sm-10">
									<select class="form-control" data-ng-model="baCtrl.bankAccount.moneda">
										<option disabled>Elige una opción...</option>
										<option value="Bancomer">Opcion 1</option>
										<option value="Banamex">Opcion 2</option>
									</select>
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<label class="col-sm-2 form-control-label">Contacto/Asesor
									Bancario</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" data-ng-model="baCtrl.bankAccount.contacto">
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<label class="col-sm-2 form-control-label">Teléfono de
									contacto</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" data-ng-model="baCtrl.bankAccount.telefonoContacto">
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<label class="col-sm-2 form-control-label">Cardex Activo</label>
								<div class="col-sm-10">
									<input type="checkbox" class="form-control" data-ng-model="baCtrl.bankAccount.cardexActivo">
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<label class="col-sm-2 form-control-label">Predeterminada</label>
								<div class="col-sm-10">
									<input type="checkbox" class="form-control" data-ng-model="baCtrl.bankAccount.predeterminado">
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<div class="col-sm-4 offset-sm-2">
									<button type="button" class="btn btn-secondary" data-ng-click="baCtrl.cancelBankAccount()">Cancelar</button>
									<button type="submit" class="btn btn-primary">Registrar</button>
								</div>
							</div>
							<div class="line"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Seccion de tabla -->
<section data-ng-if="!baCtrl.bankAccount">
	<div class="container-fluid">
		<header>
			<h1 class="h3 display">Cuentas bancarias</h1>
		</header>
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-header">
						<div class="row">
							<div class="col-sm-2">
								<button type="button" class="btn btn-primary" data-ng-click="baCtrl.newBankAccount()"><i class="fa fa-plus"></i> Nueva Cuenta</button>
							</div>
							<div class="col-sm-4">
								<input type="search" placeholder="Buscar cuenta" class="form-control">
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>#</th>
										<th>Banco</th>
										<th>Tipo cuenta</th>
										<th>sucursal</th>
										<th>No Cliente</th>
										<th>Clabe</th>
										<th>Cuenta</th>
										<th>No Targeta</th>
										<th>Moneda</th>
										<th>Contacto</th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="ba in baCtrl.bankAccounts track by $index">
										<td scope="row">{{$index+1}}</td>
										<td>{{ba.banco}}</td>
										<td>{{ba.tipoCuenta}}</td>
										<td>{{ba.sucursal}}</td>
										<td>{{ba.noCliente}}</td>
										<td>{{ba.clabe}}</td>
										<td>{{ba.cuenta}}</td>
										<td>{{ba.noTargeta}}</td>
										<td>{{ba.moneda}}</td>
										<td>{{ba.contacto}}</td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>