<meta charset="utf-8">
<div class="breadcrumb-holder">
	<div class="container-fluid">
		<ul class="breadcrumb">
			<li class="breadcrumb-item"><a href="#!"
				data-ng-click="baCtrl.stateGoTo('home', null)">Inicio</a></li>
			<li class="breadcrumb-item" data-ng-if="baCtrl.company"><a
				href="#!bussiness"
				data-ng-click="baCtrl.stateGoTo('bussiness', null)">Empresas</a></li>
			<li class="breadcrumb-item active">Cuentas de Inversión</li>
		</ul>
	</div>
</div>
<!-- Seccion de contenido -->
<section data-ng-if="baCtrl.bankAccount">
	<div class="container-fluid">
		<header>
			<h1 class="h3 display">{{!baCtrl.bankAccount.id? 'Nueva' :
				'Actualizar'}} Cuenta de Inversión</h1>
		</header>
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				<div class="card">
					<div class="card-header"></div>
					<div class="card-body">
						<form class="form-horizontal" name="formBankAccount"
							data-ng-submit="baCtrl.submitForm(formBankAccount.$valid)">
							<div class="form-group row">
								<label class="col-sm-2 form-control-label">Fecha</label>
								<div class="col-sm-10">
									<input type="date" class="form-control" required
										data-ng-max="baCtrl.maxDate2"
										name="date"
										data-ng-class="baCtrl.validClass.date? 'is-'+baCtrl.validClass.date: formBankAccount.date.$error.date? 'is-invalid':''"
										data-ng-model="baCtrl.bankAccount.date">
									<div class="d-block"
										data-ng-class="baCtrl.validClass.date? baCtrl.validClass.date+'-feedback':'invalid-feedback'"
										data-ng-show="baCtrl.validClass.date || formBankAccount.date.$error.date">Ingrese una fecha
										correcta</div>
								</div>
							</div>
							<div data-ng-if="!baCtrl.company">
								<div class="line"></div>
								<div class="form-group row">
									<label class="col-sm-2 form-control-label">Empresa</label>
									<div class="col-sm-10">
										<select class="form-control" required
											data-ng-class="baCtrl.validClass.company? 'is-'+baCtrl.validClass.company:''"
											data-ng-options="ba as ba.name for ba in baCtrl.business track by ba.id"
											data-ng-readonly="baCtrl.company"
											data-ng-model="baCtrl.bankAccount.company">
											<option value="" disabled selected>Seleccione una
												empresa...</option>
										</select>
										<div class="d-block"
											data-ng-class="baCtrl.validClass.company? baCtrl.validClass.company+'-feedback':''"
											data-ng-show="baCtrl.validClass.company">Seleccione una
											empresa</div>
									</div>
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<label class="col-sm-2 form-control-label">Banco</label>
								<div class="col-sm-10 row" style="margin-left: 1px">
									<select class="form-control col-sm-11" required
										data-ng-options="banco as banco.name for banco in baCtrl.banks track by banco.id"
										data-ng-class="baCtrl.validClass.bank? 'is-'+baCtrl.validClass.bank:''"
										data-ng-model="baCtrl.bankAccount.bank">
										<option value="" disabled selected>Seleccione un
											banco...</option>
										<option value="?"></option>
									</select>
									<button type="button" data-ng-click="baCtrl.newBank()"
										class="btn btn-primary col-sm-1" data-toggle="modal"
										data-target="#modal-new-bank">
										<i class="fa fa-plus"></i>
									</button>

									<div class="d-block"
										data-ng-class="baCtrl.validClass.bank? baCtrl.validClass.bank+'-feedback':''"
										data-ng-show="baCtrl.validClass.bank">Seleccione un
										banco</div>
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<label class="col-sm-2 form-control-label">Tipo de
									cuenta</label>
								<div class="col-sm-10">
									<select class="form-control" required
										data-ng-class="baCtrl.validClass.accountType? 'is-'+baCtrl.validClass.accountType:''"
										data-ng-model="baCtrl.bankAccount.accountType"
										data-ng-options="bat as bat.name for bat in baCtrl.bankAccountTypes track by bat.id">
										<option value="" disabled selected>Seleccione un
											tipo...</option>

									</select>
									<div class="d-block"
										data-ng-class="baCtrl.validClass.accountType? baCtrl.validClass.accountType+'-feedback':''"
										data-ng-show="baCtrl.validClass.accountType">Seleccione
										un tipo de cuenta</div>
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<label class="col-sm-2 form-control-label">No. Cuenta</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" required maxlength="15"
										data-ng-class="baCtrl.validClass.accountNumber? 'is-'+baCtrl.validClass.accountNumber:''"
										data-ng-model="baCtrl.bankAccount.accountNumber">
									<div class="d-block"
										data-ng-class="baCtrl.validClass.accountNumber? baCtrl.validClass.accountNumber+'-feedback':''"
										data-ng-show="baCtrl.validClass.accountNumber">Ingrese
										un número de cuenta</div>
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<label class="col-sm-2 form-control-label">Dirección</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" required
										data-ng-class="baCtrl.validClass.address? 'is-'+baCtrl.validClass.address:''"
										data-ng-model="baCtrl.bankAccount.address">
									<div class="d-block"
										data-ng-class="baCtrl.validClass.address? baCtrl.validClass.address+'-feedback':''"
										data-ng-show="baCtrl.validClass.address">Ingrese una
										dirección</div>
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<label class="col-sm-2 form-control-label">Teléfono</label>
								<div class="col-sm-10">
									<input type="tel" required maxlength="10"
										data-ng-class="baCtrl.validClass.telephone? 'is-'+baCtrl.validClass.telephone:''"
										pattern="[0-9]{10}" class="form-control"
										data-ng-model="baCtrl.bankAccount.telephone">
									<div class="d-block"
										data-ng-class="baCtrl.validClass.telephone? baCtrl.validClass.telephone+'-feedback':''"
										data-ng-show="baCtrl.validClass.telephone">Ingrese
										correctamente el teléfono [5555555555]</div>
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<label class="col-sm-2 form-control-label">Cliente</label>
								<div class="col-sm-10">
									<input type="text" required maxlength="20"
										data-ng-class="baCtrl.validClass.client? 'is-'+baCtrl.validClass.client:''"
										class="form-control" data-ng-model="baCtrl.bankAccount.client">
									<div class="d-block"
										data-ng-class="baCtrl.validClass.client? baCtrl.validClass.client+'-feedback':''"
										data-ng-show="baCtrl.validClass.client">Ingrese un
										cliente</div>
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<label class="col-sm-2 form-control-label">Portafolio</label>
								<div class="col-sm-10">
									<input type="text" required maxlength="10"
										data-ng-class="baCtrl.validClass.portfolio? 'is-'+baCtrl.validClass.portfolio:''"
										class="form-control"
										data-ng-model="baCtrl.bankAccount.portfolio">
									<div class="d-block"
										data-ng-class="baCtrl.validClass.portfolio? baCtrl.validClass.portfolio+'-feedback':''"
										data-ng-show="baCtrl.validClass.portfolio">Ingrese un
										portafolio</div>
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<label class="col-sm-2 form-control-label">Moneda</label>
								<div class="col-sm-10">
									<input type="text" required maxlength="15"
										data-ng-class="baCtrl.validClass.currency? 'is-'+baCtrl.validClass.currency:''"
										class="form-control"
										data-ng-model="baCtrl.bankAccount.currency">
									<div class="d-block"
										data-ng-class="baCtrl.validClass.currency? baCtrl.validClass.currency+'-feedback':''"
										data-ng-show="baCtrl.validClass.currency">Ingrese una
										moneda</div>
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<div class="form-check form-check-inline">
									<div class="input-group col-sm-12">
										<div class="input-group-prepend">
											<div class="input-group-text">
												<input class="form-check-input" type="checkbox"
													data-ng-model="baCtrl.bankAccount.isInversionEnDolares"
													id="inlineCheckbox0" value="1" data-ng-value="1"> <label
													class="form-check-label" for="inlineCheckbox0">Inversion
													en Dolares</label>
											</div>
										</div>
										<input type="text" class="form-control"
											data-ng-disabled="!baCtrl.bankAccount.isInversionEnDolares"
											data-ng-model="baCtrl.bankAccount.inversionEnDolaresAccountNumber"
											placeholder="No. de cuenta"
											aria-label="Text input with checkbox">
									</div>

								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<div class="form-check form-check-inline">
									<div class="input-group col-sm-12">
										<div class="input-group-prepend">
											<div class="input-group-text">
												<input class="form-check-input" type="checkbox"
													data-ng-model="baCtrl.bankAccount.isInversionEnPesos"
													id="inlineCheckbox1" value="1" data-ng-value="1"> <label
													class="form-check-label" for="inlineCheckbox1">Inversion
													en Pesos</label>
											</div>
										</div>
										<input type="text" class="form-control"
											data-ng-disabled="!baCtrl.bankAccount.isInversionEnPesos"
											data-ng-model="baCtrl.bankAccount.inversionEnPesosAccountNumber"
											placeholder="No. de cuenta"
											aria-label="Text input with checkbox">
									</div>
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<div class="form-check form-check-inline">
									<div class="input-group col-sm-12">
										<div class="input-group-prepend">
											<div class="input-group-text">
												<input class="form-check-input" type="checkbox"
													data-ng-model="baCtrl.bankAccount.isEfectivoEnDolares"
													id="inlineCheckbox2" value="1" data-ng-value="1"> <label
													class="form-check-label" for="inlineCheckbox2">Efectivo
													en Dolares</label>
											</div>
										</div>
										<input type="text" class="form-control"
											data-ng-disabled="!baCtrl.bankAccount.isEfectivoEnDolares"
											data-ng-model="baCtrl.bankAccount.efectivoEnDolaresAccountNumber"
											placeholder="No. de cuenta"
											aria-label="Text input with checkbox">
									</div>
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<div class="form-check form-check-inline">
									<div class="input-group col-sm-12">
										<div class="input-group-prepend">
											<div class="input-group-text">
												<input class="form-check-input" type="checkbox"
													data-ng-model="baCtrl.bankAccount.isEfectivoEnPesos"
													id="inlineCheckbox3" value="1" data-ng-value="1"> <label
													class="form-check-label" for="inlineCheckbox3">Efectivo
													en Pesos</label>
											</div>
										</div>
										<input type="text" class="form-control"
											data-ng-disabled="!baCtrl.bankAccount.isEfectivoEnPesos"
											data-ng-model="baCtrl.bankAccount.efectivoEnPesosAccountNumber"
											placeholder="No. de cuenta"
											aria-label="Text input with checkbox">
									</div>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-4 offset-sm-2">
									<button type="button" class="btn btn-secondary"
										data-ng-click="baCtrl.cancelBankAccount()">Cancelar</button>
									<button type="submit" class="btn"
										data-ng-class="!baCtrl.bankAccount.id? 'btn-primary' : 'btn-info'">{{!baCtrl.bankAccount.id?
										'Registrar' : 'Actualizar'}}</button>
								</div>
							</div>
							<div class="line"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Seccion de tabla -->
<section data-ng-if="!baCtrl.bankAccount">
	<div class="container-fluid">
		<header>
			<h1 class="h3 display">Cuentas de Inversión {{baCtrl.company.id ?
				'de ' + baCtrl.company.name : ''}}</h1>
		</header>
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-header">
						<form class="form-inline mb-3" name="formSearch" novalidate>
							<div class="form-group">
								<label>Desde </label>
								<div class="input-group ml-3">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="far fa-calendar-alt"></i>
										</div>
									</div>
									<input type="date" class="form-control"
										data-ng-max="baCtrl.searchEndDate" name="dSearchStartDate"
										required
										data-ng-class="formSearch.dSearchStartDate.$invalid ? 'is-invalid': ''"
										data-ng-model="baCtrl.searchStartDate">
								</div>

							</div>
							<div class="form-group ml-3">
								<label>Hasta </label>
								<div class="input-group ml-3">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="far fa-calendar-alt"></i>
										</div>
									</div>
									<input type="date" class="form-control"
										data-ng-min="baCtrl.searchStartDate"
										data-ng-max="baCtrl.maxDate" name="dsearchEndDate" required
										data-ng-class="formSearch.dsearchEndDate.$invalid ? 'is-invalid': ''"
										data-ng-model="baCtrl.searchEndDate">
								</div>
							</div>
							<div class="form-group ml-3">
								<button type="button" class="btn btn-dark"
									data-ng-disabled="formSearch.$invalid"
									data-ng-click="baCtrl.searchBetweenDates(baCtrl.searchStartDate,baCtrl.searchEndDate)">
									<i class="fa fa-search"></i> Buscar
								</button>
							</div>
						</form>
						<div class="row">
							<div class="col-sm-2">
								<button type="button" class="btn btn-primary"
									data-ng-click="baCtrl.newBankAccount()">
									<i class="fa fa-plus"></i> Nueva Cuenta
								</button>
							</div>
							<div class="input-group col-sm-4">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<i class="fas fa-search"></i>
									</div>
								</div>
								<input type="search" placeholder="Buscar..."
									data-ng-change="baCtrl.filterSearch()" class="form-control"
									data-ng-model="baCtrl.filterAccountNumber">
							</div>
							<div class="col-sm-1" data-ng-if="baCtrl.isSearch">
								<button data-ng-click="baCtrl.cancelSearch()" type="button"
									class="close">&times;</button>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive"
							data-ng-if="baCtrl.bankAccounts.length">
							<table class="table table-bordered">
								<tbody>
									<tr data-ng-repeat="ba in baCtrl.bankAccounts track by $index">
										<td>
											<table
												class="table table-hover table-bordered">
												<thead>
													<tr>
														<th>#</th>
														<th>Empresa</th>
														<th>Tipo cuenta</th>
														<th>No. Cuenta</th>
														<th>Dirección</th>
														<th>Teléfono</th>
														<th>Moneda</th>
														<th>Banco</th>
														<th>Fecha</th>
														<th colspan="3"></th>														
													</tr>
												</thead>
												<tbody>
													<tr>
														<td scope="row">{{$index+1}}</td>
														<td>{{ba.company.name}}</td>
														<td>{{ba.accountType.name}}</td>
														<td>{{ba.accountNumber}}</td>
														<td>{{ba.address}}</td>
														<td>{{ba.telephone}}</td>
														<td>{{ba.currency}}</td>
														<td>{{ba.bank.name}}</td>
														<td>{{ba.date | date: 'dd/MM/yyyy'}}</td>
														<td>
															<button class="btn btn-primary btn-sm" type="button"
																data-toggle="collapse"
																data-target="#multiCollapseExample{{$index}}"
																aria-expanded="false"
																aria-controls="multiCollapseExample{{$index}}">Cuentas</button>															
														</td>
														<td><button class="btn btn-info btn-sm"
																data-ng-click="baCtrl.update(ba)">Actualizar</button></td>
														<td><button class="btn btn-danger btn-sm"
																data-ng-click="baCtrl.confirmDelete(ba)">Eliminar</button></td>
													</tr>
													<tr>
														<td colspan="12">															
																<div class="collapse multi-collapse"
																	id="multiCollapseExample{{$index}}">
																	<div class="card card-body">
																		<table
																			class="table table-sm table-striped table-hover table-condensed table-inverse table-bordered">
																			<thead>
																				<tr>
																					<th>Tipo</th>
																					<th>No. Cuenta</th>
																					<th></th>																				
																				</tr>
																			</thead>
																			<tbody>
																				<tr>
																					<td>Inversión en Dólares</td>
																					<td>{{ba.inversionEnDolaresAccountNumber}}</td>
																					<td>
																						<button class="btn btn-success btn-sm" data-ng-disabled="!ba.isInversionEnDolares"
																							data-ng-click="baCtrl.stateGoToSubAccount('bank-actions', ba, 1)">Instrumentos
																							de Inversión</button>
																					</td>
																				</tr>
																				<tr>
																					<td>Inversión en Pesos</td>
																					<td>{{ba.inversionEnPesosAccountNumber}}</td>
																					<td>
																						<button class="btn btn-success btn-sm" data-ng-disabled="!ba.isInversionEnPesos"
																							data-ng-click="baCtrl.stateGoToSubAccount('bank-actions', ba, 2)">Instrumentos
																							de Inversión</button>
																					</td>
																				</tr>
																				<tr>
																					<td>Efectivo en Dólares</td>
																					<td>{{ba.efectivoEnDolaresAccountNumber}}</td>
																					<td>
																						<button class="btn btn-success btn-sm" data-ng-disabled="!ba.isEfectivoEnDolares"
																							data-ng-click="baCtrl.stateGoToSubAccount('bank-actions', ba, 3)">Instrumentos
																							de Inversión</button>
																					</td>
																				</tr>
																				<tr>
																					<td>Efectivo en Pesos</td>
																					<td>{{ba.efectivoEnPesosAccountNumber}}</td>
																					<td>
																						<button class="btn btn-success btn-sm" data-ng-disabled="!ba.isEfectivoEnPesos"
																							data-ng-click="baCtrl.stateGoToSubAccount('bank-actions', ba, 4)">Instrumentos
																							de Inversión</button>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</div>
																</div>
															
														</td>
													</tr>
												</tbody>

											</table>
										</td>
									</tr>
								</tbody>
							</table>
							<div
								data-ng-show="!baCtrl.bankAccountsLength.length && baCtrl.filterAccountNumber != null">
								<p class="text-muted text-center">
									<i class="fas fa-search fa-3x"></i>
								</p>
								<p class="text-muted text-center">No se encontró información
									con los datos ingresados</p>
							</div>
						</div>
						<div
							data-ng-show="!baCtrl.bankAccounts.length && !baCtrl.filterAccountNumber != null">
							<p class="text-muted text-center">
								<i class="fas fa-search fa-3x"></i>
							</p>
							<p class="text-muted text-center">Sin datos registrados</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="modal fade" id="modal-new-bank" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<form class="modal-content" name="formBank"
			data-ng-submit="baCtrl.submitFormBank(formBank.$valid)" novalidate>
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Nuevo Banco</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-horizontal">
					<div class="line"></div>
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">Nombre</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" maxlength="30"
								data-ng-class="baCtrl.validClass.name? 'is-'+baCtrl.validClass.name:''"
								data-ng-model="baCtrl.bank.name" required>
							<div class="d-block"
								data-ng-class="baCtrl.validClass.name? baCtrl.validClass.name+'-feedback':''"
								data-ng-show="baCtrl.validClass.name">Ingrese el nombre
								del banco</div>
						</div>
					</div>
					<div class="line"></div>
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">Agente</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" maxlength="30"
								data-ng-class="baCtrl.validClass.agent? 'is-'+baCtrl.validClass.agent:''"
								data-ng-model="baCtrl.bank.agent" required>
							<div class="d-block"
								data-ng-class="baCtrl.validClass.agent? baCtrl.validClass.agent+'-feedback':''"
								data-ng-show="baCtrl.validClass.agent">Ingrese el nombre
								del Agente</div>
						</div>
					</div>
					<div class="line"></div>
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">Teléfono Agente</label>
						<div class="col-sm-10">
							<input type="tel" class="form-control" maxlength="10"
								pattern="[0-9]{10}"
								data-ng-class="baCtrl.validClass.agentPhone? 'is-'+baCtrl.validClass.agentPhone:''"
								data-ng-model="baCtrl.bank.agentPhone" required>
							<div class="d-block"
								data-ng-class="baCtrl.validClass.agentPhone? baCtrl.validClass.agentPhone+'-feedback':''"
								data-ng-show="baCtrl.validClass.agentPhone">Ingrese
								correctamente el teléfono [5555555555]</div>
						</div>
					</div>
					<div class="line"></div>
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">Dirección</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" maxlength="50"
								data-ng-class="baCtrl.validClass.addressBank? 'is-'+baCtrl.validClass.addressBank:''"
								data-ng-model="baCtrl.bank.address" required>
							<div class="d-block"
								data-ng-class="baCtrl.validClass.addressBank? baCtrl.validClass.addressBank+'-feedback':''"
								data-ng-show="baCtrl.validClass.addressBank">Ingrese la
								dirección</div>
						</div>
					</div>
					<div class="line"></div>
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">Teléfono</label>
						<div class="col-sm-10">
							<input type="tel" class="form-control" maxlength="10"
								pattern="[0-9]{10}"
								data-ng-class="baCtrl.validClass.telephoneBank? 'is-'+baCtrl.validClass.telephoneBank:''"
								data-ng-model="baCtrl.bank.telephone" required>
							<div class="d-block"
								data-ng-class="baCtrl.validClass.telephoneBank? baCtrl.validClass.telephoneBank+'-feedback':''"
								data-ng-show="baCtrl.validClass.telephoneBank">Ingrese
								correctamente el teléfono [5555555555]</div>
						</div>
					</div>

					<div class="line"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-ng-click="baCtrl.cancelBank()" data-dismiss="modal">Cerrar</button>
				<button type="submit" class="btn btn-primary">Registrar</button>
			</div>
		</form>
	</div>
</div>

<!-- Modal -->
<article class="modal fade" id="modal-bulk-load" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Carga de Inevrsión</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<input data-file-model="baCtrl.myFile" type="file" id="file"
					name="file" />
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
				<button type="button" data-ng-click="baCtrl.addDocument()"
					class="btn btn-primary" data-ng-disabled="baCtrl.processing">Cargar</button>
			</div>
		</div>
	</div>
</article>
