<meta charset="utf-8">
<div class="breadcrumb-holder">
	<div class="container-fluid">
		<ul class="breadcrumb">
			<li class="breadcrumb-item"><a href="#!"
				data-ng-click="baCtrl.stateGoTo('home', null)">Inicio</a></li>
			<li class="breadcrumb-item" data-ng-if="baCtrl.company"><a
				href="#!bussiness"
				data-ng-click="baCtrl.stateGoTo('bussiness', null)">Empresas</a></li>
			<li class="breadcrumb-item active">Cuentas bancarias</li>
		</ul>
	</div>
</div>
<!-- Seccion de contenido -->
<section data-ng-if="baCtrl.bankAccount">
	<div class="container-fluid">
		<header>
			<h1 class="h3 display">{{!baCtrl.bankAccount.id? 'Nueva' :
				'Actualizar'}} cuenta bancaria</h1>
		</header>
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				<div class="card">
					<div class="card-header"></div>
					<div class="card-body">
						<form class="form-horizontal" name="formBankAccount"
							data-ng-submit="baCtrl.submitForm(formBankAccount.$valid)"
							novalidate>
							<div class="form-group row">
								<label class="col-sm-2 form-control-label">Fecha</label>
								<div class="col-sm-10">
									<input type="date" class="form-control" required
										data-ng-class="baCtrl.validClass.date? 'is-'+baCtrl.validClass.date:''"
										data-ng-model="baCtrl.bankAccount.date">
									<div class="d-block"
										data-ng-class="baCtrl.validClass.date? baCtrl.validClass.date+'-feedback':''"
										data-ng-show="baCtrl.validClass.date">Ingrese una fecha
										correcta</div>
								</div>
							</div>
							<div data-ng-if="!baCtrl.company">
								<div class="line"></div>
								<div class="form-group row">
									<label class="col-sm-2 form-control-label">Empresa</label>
									<div class="col-sm-10">
										<select class="form-control" required
											data-ng-class="baCtrl.validClass.company? 'is-'+baCtrl.validClass.company:''"
											data-ng-options="ba as ba.name for ba in baCtrl.business track by ba.id"
											data-ng-readonly="baCtrl.company"
											data-ng-model="baCtrl.bankAccount.company">
											<option value="" disabled selected>Seleccione una
												empresa...</option>
										</select>
										<div class="d-block"
											data-ng-class="baCtrl.validClass.company? baCtrl.validClass.company+'-feedback':''"
											data-ng-show="baCtrl.validClass.company">Seleccione una
											empresa</div>
									</div>
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<label class="col-sm-2 form-control-label">Banco</label>
								<div class="col-sm-10 row" style="margin-left: 1px">
									<select class="form-control col-sm-11" required
										data-ng-options="banco as banco.name for banco in baCtrl.banks track by banco.id"
										data-ng-class="baCtrl.validClass.bank? 'is-'+baCtrl.validClass.bank:''"
										data-ng-model="baCtrl.bankAccount.bank">
										<option value="" disabled selected>Seleccione un
											banco...</option>
										<option value="?"></option>
									</select>
									<button type="button" data-ng-click="baCtrl.newBank()" class="btn btn-primary col-sm-1" data-toggle="modal" data-target="#modal-new-bank"><i class="fa fa-plus"></i></button>
									
									<div class="d-block"
										data-ng-class="baCtrl.validClass.bank? baCtrl.validClass.bank+'-feedback':''"
										data-ng-show="baCtrl.validClass.bank">Seleccione un
										banco</div>
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<label class="col-sm-2 form-control-label">Tipo de
									cuenta</label>
								<div class="col-sm-10">
									<select class="form-control" required
										data-ng-class="baCtrl.validClass.accountType? 'is-'+baCtrl.validClass.accountType:''"
										data-ng-model="baCtrl.bankAccount.accountType">
										<option value="" disabled selected>Seleccione un
											tipo...</option>
										<option value="INVERSION">Inversión</option>
										<option value="MERCADO DE DINERO">Mercado de dinero</option>
										<option value="TRANSACCION">Transaccion</option>
									</select>
									<div class="d-block"
										data-ng-class="baCtrl.validClass.accountType? baCtrl.validClass.accountType+'-feedback':''"
										data-ng-show="baCtrl.validClass.accountType">Seleccione
										un tipo de cuenta</div>
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<label class="col-sm-2 form-control-label">No. Cuenta</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" required maxlength="15"
										data-ng-class="baCtrl.validClass.accountNumber? 'is-'+baCtrl.validClass.accountNumber:''"
										data-ng-model="baCtrl.bankAccount.accountNumber">
									<div class="d-block"
										data-ng-class="baCtrl.validClass.accountNumber? baCtrl.validClass.accountNumber+'-feedback':''"
										data-ng-show="baCtrl.validClass.accountNumber">Ingrese
										un número de cuenta</div>
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<label class="col-sm-2 form-control-label">Dirección</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" required
										data-ng-class="baCtrl.validClass.address? 'is-'+baCtrl.validClass.address:''"
										data-ng-model="baCtrl.bankAccount.address">
									<div class="d-block"
										data-ng-class="baCtrl.validClass.address? baCtrl.validClass.address+'-feedback':''"
										data-ng-show="baCtrl.validClass.address">Ingrese una
										dirección</div>
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<label class="col-sm-2 form-control-label">Teléfono</label>
								<div class="col-sm-10">
									<input type="tel" required maxlength="10"
										data-ng-class="baCtrl.validClass.telephone? 'is-'+baCtrl.validClass.telephone:''"
										pattern="[0-9]{10}" class="form-control"
										data-ng-model="baCtrl.bankAccount.telephone">
									<div class="d-block"
										data-ng-class="baCtrl.validClass.telephone? baCtrl.validClass.telephone+'-feedback':''"
										data-ng-show="baCtrl.validClass.telephone">Ingrese
										correctamente el teléfono [5555555555]</div>
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<label class="col-sm-2 form-control-label">Cliente</label>
								<div class="col-sm-10">
									<input type="text" required maxlength="20"
										data-ng-class="baCtrl.validClass.client? 'is-'+baCtrl.validClass.client:''"
										class="form-control" data-ng-model="baCtrl.bankAccount.client">
									<div class="d-block"
										data-ng-class="baCtrl.validClass.client? baCtrl.validClass.client+'-feedback':''"
										data-ng-show="baCtrl.validClass.client">Ingrese un
										cliente</div>
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<label class="col-sm-2 form-control-label">Portafolio</label>
								<div class="col-sm-10">
									<input type="text" required maxlength="10"
										data-ng-class="baCtrl.validClass.portfolio? 'is-'+baCtrl.validClass.portfolio:''"
										class="form-control"
										data-ng-model="baCtrl.bankAccount.portfolio">
									<div class="d-block"
										data-ng-class="baCtrl.validClass.portfolio? baCtrl.validClass.portfolio+'-feedback':''"
										data-ng-show="baCtrl.validClass.portfolio">Ingrese un
										portafolio</div>
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<label class="col-sm-2 form-control-label">Moneda</label>
								<div class="col-sm-10">
									<input type="text" required maxlength="15"
										data-ng-class="baCtrl.validClass.currency? 'is-'+baCtrl.validClass.currency:''"
										class="form-control"
										data-ng-model="baCtrl.bankAccount.currency">
									<div class="d-block"
										data-ng-class="baCtrl.validClass.currency? baCtrl.validClass.currency+'-feedback':''"
										data-ng-show="baCtrl.validClass.currency">Ingrese una
										moneda</div>
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<div class="col-sm-4 offset-sm-2">
									<button type="button" class="btn btn-secondary"
										data-ng-click="baCtrl.cancelBankAccount()">Cancelar</button>
									<button type="submit" class="btn"
										data-ng-class="!baCtrl.bankAccount.id? 'btn-primary' : 'btn-info'">{{!baCtrl.bankAccount.id?
										'Registrar' : 'Actualizar'}}</button>
								</div>
							</div>
							<div class="line"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Seccion de tabla -->
<section data-ng-if="!baCtrl.bankAccount">
	<div class="container-fluid">
		<header>
			<h1 class="h3 display">Cuentas bancarias {{baCtrl.company.id ?
				'de ' + baCtrl.company.name : ''}}</h1>
		</header>
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-header">
						<form class="form-inline mb-3">
							<div class="form-group">
								<label>De </label> <input type="date"
									class="form-control mx-sm-3"
									data-ng-model="baCtrl.searchStartDate">
							</div>
							<div class="form-group">
								<label>A </label> <input type="date"
									class="form-control mx-sm-3"
									data-ng-model="baCtrl.searchEndDate">

							</div>
							<div class="form-group">
								<button type="button" class="btn btn-dark"
									data-ng-click="baCtrl.searchBetweenDates(baCtrl.searchStartDate,baCtrl.searchEndDate)">
									<i class="fa fa-search"></i> Buscar
								</button>
							</div>
						</form>
						<div class="row">
							<div class="col-sm-2">
								<button type="button" class="btn btn-primary"
									data-ng-click="baCtrl.newBankAccount()">
									<i class="fa fa-plus"></i> Nueva Cuenta
								</button>
							</div>
<!-- 							<div class="col-sm-2" data-ng-if="baCtrl.bankParam"> -->
<!-- 								<button type="button" class="btn btn-primary" -->
<!-- 									data-toggle="modal" data-target="#modal-bulk-load"> -->
<!-- 									<i class="fa fa-file"></i> Carga masiva -->
<!-- 								</button> -->
<!-- 							</div> -->
							<div class="col-sm-4">
								<input type="search" placeholder="Buscar..."
									class="form-control" data-ng-model="baCtrl.filterAccountNumber">
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>#</th>
										<th>Empresa</th>
										<th>Tipo cuenta</th>
										<th>No. Cuenta</th>
										<th>Dirección</th>
										<th>Teléfono</th>
										<th>Cliente</th>
										<th>Portafolio</th>
										<th>Moneda</th>
										<th>Banco</th>
										<th>Fecha</th>
										<th></th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr
										data-ng-repeat="ba in baCtrl.bankAccounts | filter: baCtrl.filterAccountNumber track by $index">
										<td scope="row">{{$index+1}}</td>
										<td>{{ba.company.name}}</td>
										<td>{{ba.accountType}}</td>
										<td>{{ba.accountNumber}}</td>
										<td>{{ba.address}}</td>
										<td>{{ba.telephone}}</td>
										<td>{{ba.client}}</td>
										<td>{{ba.portfolio}}</td>
										<td>{{ba.currency}}</td>
										<td>{{ba.bank.name}}</td>
										<td>{{ba.date | date: 'dd/MM/yyyy'}}</td>
										<td><button class="btn btn-success"
												data-ng-click="baCtrl.stateGoTo('bank-actions', ba)">Acciones</button></td>
										<td><button class="btn btn-info"
												data-ng-click="baCtrl.update(ba)">Actualizar</button></td>
										<td><button class="btn btn-danger"
												data-ng-click="baCtrl.confirmDelete(ba)">Eliminar</button></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="modal fade" id="modal-new-bank" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<form class="modal-content" name="formBank" data-ng-submit="baCtrl.submitFormBank(formBank.$valid)" novalidate>
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Nuevo Banco</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-horizontal">
					<div class="line"></div>
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">Nombre</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" maxlength="30"
								data-ng-class="baCtrl.validClass.name? 'is-'+baCtrl.validClass.name:''"
								data-ng-model="baCtrl.bank.name" required>
							<div class="d-block"
								data-ng-class="baCtrl.validClass.name? baCtrl.validClass.name+'-feedback':''"
								data-ng-show="baCtrl.validClass.name">Ingrese el nombre del
								banco</div>
						</div>
					</div>
					<div class="line"></div>
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">Agente</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" maxlength="30"
								data-ng-class="baCtrl.validClass.agent? 'is-'+baCtrl.validClass.agent:''"
								data-ng-model="baCtrl.bank.agent" required>
							<div class="d-block"
								data-ng-class="baCtrl.validClass.agent? baCtrl.validClass.agent+'-feedback':''"
								data-ng-show="baCtrl.validClass.agent">Ingrese el nombre
								del Agente</div>
						</div>
					</div>
					<div class="line"></div>
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">Teléfono Agente</label>
						<div class="col-sm-10">
							<input type="tel" class="form-control" maxlength="10"
								pattern="[0-9]{10}"
								data-ng-class="baCtrl.validClass.agentPhone? 'is-'+baCtrl.validClass.agentPhone:''"
								data-ng-model="baCtrl.bank.agentPhone" required>
							<div class="d-block"
								data-ng-class="baCtrl.validClass.agentPhone? baCtrl.validClass.agentPhone+'-feedback':''"
								data-ng-show="baCtrl.validClass.agentPhone">Ingrese
								correctamente el teléfono [5555555555]</div>
						</div>
					</div>
					<div class="line"></div>
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">Dirección</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" maxlength="50"
								data-ng-class="baCtrl.validClass.addressBank? 'is-'+baCtrl.validClass.addressBank:''"
								data-ng-model="baCtrl.bank.address" required>
							<div class="d-block"
								data-ng-class="baCtrl.validClass.addressBank? baCtrl.validClass.addressBank+'-feedback':''"
								data-ng-show="baCtrl.validClass.addressBank">Ingrese la
								dirección</div>
						</div>
					</div>
					<div class="line"></div>
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">Teléfono</label>
						<div class="col-sm-10">
							<input type="tel" class="form-control" maxlength="10"
								pattern="[0-9]{10}"
								data-ng-class="baCtrl.validClass.telephoneBank? 'is-'+baCtrl.validClass.telephoneBank:''"
								data-ng-model="baCtrl.bank.telephone" required>
							<div class="d-block"
								data-ng-class="baCtrl.validClass.telephoneBank? baCtrl.validClass.telephoneBank+'-feedback':''"
								data-ng-show="baCtrl.validClass.telephoneBank">Ingrese
								correctamente el teléfono [5555555555]</div>
						</div>
					</div>
					<div class="line"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-ng-click="baCtrl.cancelBank()" data-dismiss="modal">Cerrar</button>
				<button type="submit" class="btn btn-primary">Registrar</button>
			</div>
		</form>
	</div>
</div>

<!-- Modal -->
<article class="modal fade" id="modal-bulk-load" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Carga de
					cuentas bancarias</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				
				<input data-file-model="baCtrl.myFile" type="file" id="file"
					name="file" />
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-dismiss="modal">Cerrar</button>
				<button type="button" data-ng-click="baCtrl.addDocument()"
					class="btn btn-primary" data-ng-disabled="baCtrl.processing">Cargar</button>
			</div>
		</div>
	</div>
</article>
