<meta charset="utf-8">
<style>
<!--
table.floatThead-table {
    border-top: none;
    border-bottom: none;
    background-color: #fff;
}
-->
</style>
<div class="breadcrumb-holder">
	<div class="container-fluid">
		<ul class="breadcrumb">
			<li class="breadcrumb-item"><a href="#!"
				data-ng-click="bactCtrl.stateGoTo('home', null)">Inicio</a></li>
			<li class="breadcrumb-item" data-ng-if="bactCtrl.account.company"><a
				href="#!bussiness"
				data-ng-click="bactCtrl.stateGoTo('bussiness', {company: bactCtrl.account.company})">Empresas</a></li>
			<li class="breadcrumb-item" data-ng-if="bactCtrl.account"><a
				href="#!bank-accounts"
				data-ng-click="bactCtrl.stateGoTo('bank-accounts', {account: bactCtrl.account})">Cuentas
					bancarias</a></li>
			<li class="breadcrumb-item active">Acciones</li>
		</ul>
	</div>
</div>
<!-- Seccion de contenido -->
<section data-ng-if="bactCtrl.bankAction">
	<div class="container-fluid">
		<header>
			<h1 class="h3 display">{{!bactCtrl.bankAction.id? 'Nueva' :
				'Actualizar'}} acción</h1>
		</header>
		<div class="row">
			<div class="col-3">
				<div class="nav flex-column nav-pills" id="v-pills-tab"
					role="tablist" aria-orientation="vertical">
					<a class="nav-link active" id="v-pills-home-tab" data-toggle="pill"
						data-target="#v-pills-home" target="_self" role="tab"
						aria-controls="v-pills-home" aria-selected="true">Adquisiciones</a>
					<a class="nav-link" id="v-pills-profile-tab" target="_self"
						data-toggle="pill" data-target="#v-pills-profile" role="tab"
						aria-controls="v-pills-profile" aria-selected="false">Valuación
						Subsecuente</a> <a class="nav-link" id="v-pills-messages-tab"
						data-toggle="pill" data-target="#v-pills-messages" target="_self"
						role="tab" aria-controls="v-pills-messages" aria-selected="false">Venta</a>

				</div>
			</div>
			<div class="col-9">
				<div class="tab-content" id="v-pills-tabContent">
					<div class="tab-pane fade show active" id="v-pills-home"
						role="tabpanel" aria-labelledby="v-pills-home-tab">
						<div class="row">
							<div class="col-lg-12">
								<div class="card">
									<div class="card-header"></div>
									<div class="card-body">
										<form class="form-horizontal" name="formbankAction"
											data-ng-submit="bactCtrl.submitForm(formbankAction.$valid)"
											novalidate>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Institución
													bancaria</label>
												<div class="col-sm-9">
													<input type="text" class="form-control"
														data-ng-model="bactCtrl.bankAction.institucion">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Instrumento
													de inversión</label>
												<div class="col-sm-9">
													<input type="text" class="form-control"
														data-ng-model="bactCtrl.bankAction.instrumento">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">CUSIP</label>
												<div class="col-sm-9">
													<input type="text" class="form-control"
														data-ng-model="bactCtrl.bankAction.cusip">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">ISIN/Serie</label>
												<div class="col-sm-9">
													<input type="text" class="form-control"
														data-ng-model="bactCtrl.bankAction.isinSerie">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Security
													Identifier</label>
												<div class="col-sm-9">
													<input type="text" class="form-control"
														data-ng-model="bactCtrl.bankAction.secId">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Títulos
													(Cantidad)</label>
												<div class="col-sm-9">
													<input type="number" step="any" class="form-control"
														data-ng-model="bactCtrl.bankAction.titulos">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Unit Cost</label>
												<div class="col-sm-9">
													<input type="number" step="any" class="form-control"
														data-ng-model="bactCtrl.bankAction.unitCost">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Valor a
													costo</label>
												<div class="col-sm-9">
													<input type="number" step="any" class="form-control"
														readonly="readonly"
														data-ng-value="bactCtrl.bankAction.titulos*bactCtrl.bankAction.unitCost">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Fecha de
													Adquisición</label>
												<div class="col-sm-9">
													<input type="date" class="form-control"
														data-ng-model="bactCtrl.bankAction.fechaInicio">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Registro
													contable</label>
												<div class="col-sm-9">
													<input type="text" class="form-control"
														list="registroContableOpts"
														data-ng-model="bactCtrl.bankAction.registroContable">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Valor</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" list="valorOpts"
														data-ng-model="bactCtrl.bankAction.valor">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Moneda
													Original</label>
												<div class="col-sm-9">
													<input type="text" class="form-control"
														list="monedaOriginalOpts"
														data-ng-model="bactCtrl.bankAction.monedaOriginal">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Fecha
													final del periodo</label>
												<div class="col-sm-9">
													<input type="date" class="form-control" readonly="readonly"
														data-ng-value="bactCtrl.bankAction.fechaFinal">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">T.C.
													Inicial</label>
												<div class="col-sm-9">
													<input type="number" class="form-control"
														readonly="readonly" data-ng-value="bactCtrl.tcInical.MXN">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">T.C.
													Final</label>
												<div class="col-sm-9">
													<input type="number" class="form-control"
														readonly="readonly" data-ng-value="bactCtrl.tcFinal.MXN">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Valuacion
													Dls Compra</label>
												<div class="col-sm-9">
													<input type="number" class="form-control"
														readonly="readonly"
														data-ng-value="(bactCtrl.bankAction.titulos*bactCtrl.bankAction.unitCost)*bactCtrl.tcInical.MXN">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Valuacion
													Dls afectados al Final del periodo</label>
												<div class="col-sm-9">
													<input type="number" class="form-control"
														readonly="readonly"
														data-ng-value="(bactCtrl.bankAction.titulos*bactCtrl.bankAction.unitCost)*bactCtrl.tcFinal.MXN">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Utilidad
													(pérdida) por valuación</label>
												<div class="col-sm-9">
													<input type="number" class="form-control"
														readonly="readonly"
														data-ng-value="((bactCtrl.bankAction.titulos*bactCtrl.bankAction.unitCost)*bactCtrl.tcFinal.MXN)-((bactCtrl.bankAction.titulos*bactCtrl.bankAction.unitCost)*bactCtrl.tcInical.MXN)">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Fecha del
													precio de mercado</label>
												<div class="col-sm-9">
													<input type="date" class="form-control" readonly="readonly"
														data-ng-value="bactCtrl.bankAction.fechaFinal">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Market
													price (Precio de mercado)</label>
												<div class="col-sm-9">
													<input type="number" class="form-control"
														data-ng-model="bactCtrl.bankAction.marketPrice">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Valor de
													mercado</label>
												<div class="col-sm-9">
													<input type="number" class="form-control"
														readonly="readonly"
														data-ng-value="bactCtrl.bankAction.marketPrice*bactCtrl.bankAction.titulos">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Plusv/minusv
													mensual</label>
												<div class="col-sm-9">
													<input type="number" class="form-control"
														readonly="readonly"
														data-ng-value="(bactCtrl.bankAction.marketPrice*bactCtrl.bankAction.titulos)-(bactCtrl.bankAction.titulos*bactCtrl.bankAction.unitCost)">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Plusv/minusv
													acumulado</label>
												<div class="col-sm-9">
													<input type="number" class="form-control"
														readonly="readonly"
														data-ng-value="(bactCtrl.bankAction.marketPrice*bactCtrl.bankAction.titulos)-(bactCtrl.bankAction.titulos*bactCtrl.bankAction.unitCost)">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Int
													Devengado mensual</label>
												<div class="col-sm-9">
													<input type="number" class="form-control"
														readonly="readonly" data-ng-value="0">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Int
													Devengado acumulado</label>
												<div class="col-sm-9">
													<input type="number" class="form-control"
														readonly="readonly" data-ng-value="0">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Fecha
													final del periodo</label>
												<div class="col-sm-9">
													<input type="date" class="form-control" readonly="readonly"
														data-ng-value="bactCtrl.bankAction.fechaFinal">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Valuación
													Dls al Final del periodo</label>
												<div class="col-sm-9">
													<input type="number" class="form-control"
														readonly="readonly"
														data-ng-value="(bactCtrl.bankAction.marketPrice*bactCtrl.bankAction.titulos)*(bactCtrl.tcFinal.MXN)">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Plusv/minusv
													mensual</label>
												<div class="col-sm-9">
													<input type="number" class="form-control"
														readonly="readonly"
														data-ng-value="((bactCtrl.bankAction.marketPrice*bactCtrl.bankAction.titulos)*(bactCtrl.tcFinal.MXN))-((bactCtrl.bankAction.titulos*bactCtrl.bankAction.unitCost)*bactCtrl.tcInical.MXN)">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Plusv/minusv
													acumulado</label>
												<div class="col-sm-9">
													<input type="number" class="form-control"
														readonly="readonly"
														data-ng-value="((bactCtrl.bankAction.marketPrice*bactCtrl.bankAction.titulos)*(bactCtrl.tcFinal.MXN))-((bactCtrl.bankAction.titulos*bactCtrl.bankAction.unitCost)*bactCtrl.tcInical.MXN)">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<div class="col-sm-4 offset-sm-3">
													<button type="button" class="btn btn-secondary"
														data-ng-click="bactCtrl.cancelbankAction()">Cancelar</button>
													<button type="submit" class="btn"
														data-ng-class="!bactCtrl.bankAction.id? 'btn-primary' : 'btn-info'">{{!bactCtrl.bankAction.id?
														'Registrar' : 'Actualizar'}}</button>
												</div>
											</div>
											<div class="line"></div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- termina adquisicion form -->
					<div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
						aria-labelledby="v-pills-profile-tab">
						<div class="row">
							<div class="col-lg-12">
								<div class="card">
									<div class="card-header"></div>
									<div class="card-body">
										<form class="form-horizontal" name="formbankAction"
											data-ng-submit="bactCtrl.submitForm(formbankAction.$valid)"
											novalidate>

											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Market
													price (Precio de mercado)</label>
												<div class="col-sm-9">
													<input type="number" class="form-control"
														data-ng-model="bactCtrl.bankAction.marketPrice">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Valor de
													mercado</label>
												<div class="col-sm-9">
													<input type="number" class="form-control"
														readonly="readonly"
														data-ng-value="bactCtrl.bankAction.marketPrice*bactCtrl.bankAction.titulos">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Plusv/minusv
													mensual</label>
												<div class="col-sm-9">
													<input type="number" class="form-control"
														readonly="readonly"
														data-ng-value="(bactCtrl.bankAction.marketPrice*bactCtrl.bankAction.titulos)-(bactCtrl.bankAction.titulos*bactCtrl.bankAction.unitCost)">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Plusv/minusv
													acumulado</label>
												<div class="col-sm-9">
													<input type="number" class="form-control"
														readonly="readonly"
														data-ng-value="(bactCtrl.bankAction.marketPrice*bactCtrl.bankAction.titulos)-(bactCtrl.bankAction.titulos*bactCtrl.bankAction.unitCost)">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Int
													Devengado mensual</label>
												<div class="col-sm-9">
													<input type="number" class="form-control"
														readonly="readonly" data-ng-value="0">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Int
													Devengado acumulado</label>
												<div class="col-sm-9">
													<input type="number" class="form-control"
														readonly="readonly" data-ng-value="0">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Fecha
													final del periodo</label>
												<div class="col-sm-9">
													<input type="date" class="form-control" readonly="readonly"
														data-ng-value="bactCtrl.bankAction.fechaFinal">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">T.C.
													Inicial</label>
												<div class="col-sm-9">
													<input type="number" class="form-control"
														readonly="readonly" data-ng-value="bactCtrl.tcInical.MXN">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">T.C.
													Final</label>
												<div class="col-sm-9">
													<input type="number" class="form-control"
														readonly="readonly" data-ng-value="bactCtrl.tcFinal.MXN">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Fecha
													final del periodo</label>
												<div class="col-sm-9">
													<input type="date" class="form-control" readonly="readonly"
														data-ng-value="bactCtrl.bankAction.fechaFinal">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Valuación
													Dls periodo anterior</label>
												<div class="col-sm-9">
													<input type="number" class="form-control"
														readonly="readonly"
														data-ng-value="(bactCtrl.bankAction.marketPrice*bactCtrl.bankAction.titulos)*(bactCtrl.tcFinal.MXN)">
												</div>
											</div>

											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Valuación
													Dls al Final del periodo</label>
												<div class="col-sm-9">
													<input type="number" class="form-control"
														readonly="readonly"
														data-ng-value="(bactCtrl.bankAction.marketPrice*bactCtrl.bankAction.titulos)*(bactCtrl.tcFinal.MXN)">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Utilidad
													(pérdida) por valuación</label>
												<div class="col-sm-9">
													<input type="number" class="form-control"
														readonly="readonly"
														data-ng-value="((bactCtrl.bankAction.titulos*bactCtrl.bankAction.unitCost)*bactCtrl.tcFinal.MXN)-((bactCtrl.bankAction.titulos*bactCtrl.bankAction.unitCost)*bactCtrl.tcInical.MXN)">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<div class="col-sm-4 offset-sm-3">
													<button type="button" class="btn btn-secondary"
														data-ng-click="bactCtrl.cancelbankAction()">Cancelar</button>
													<button type="submit" class="btn"
														data-ng-class="!bactCtrl.bankAction.id? 'btn-primary' : 'btn-info'">{{!bactCtrl.bankAction.id?
														'Registrar' : 'Actualizar'}}</button>
												</div>
											</div>
											<div class="line"></div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- temrmina subsecuente -->
					<div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
						aria-labelledby="v-pills-messages-tab">
						<div class="row">
							<div class="col-lg-12">
								<div class="card">
									<div class="card-header"></div>
									<div class="card-body">
										<form class="form-horizontal" name="formbankAction"
											data-ng-submit="bactCtrl.submitForm(formbankAction.$valid)"
											novalidate>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Saldo
													inicial</label>
												<div class="col-sm-9">
													<input type="number" class="form-control"
														data-ng-model="bactCtrl.bankAction.saldoInicial">
												</div>
											</div>


											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">T.C.
													Inicial</label>
												<div class="col-sm-9">
													<input type="number" class="form-control"
														readonly="readonly" data-ng-value="bactCtrl.tcInical.MXN">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">T.C.
													Final</label>
												<div class="col-sm-9">
													<input type="number" class="form-control"
														readonly="readonly" data-ng-value="bactCtrl.tcFinal.MXN">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Valuacion
													Dls Compra</label>
												<div class="col-sm-9">
													<input type="number" class="form-control"
														readonly="readonly"
														data-ng-value="(bactCtrl.bankAction.titulos*bactCtrl.bankAction.unitCost)*bactCtrl.tcInical.MXN">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Valuacion
													Dls afectados al Final del periodo</label>
												<div class="col-sm-9">
													<input type="number" class="form-control"
														readonly="readonly"
														data-ng-value="(bactCtrl.bankAction.titulos*bactCtrl.bankAction.unitCost)*bactCtrl.tcFinal.MXN">
												</div>
											</div>
											<div class="line"></div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Utilidad
													(pérdida) por valuación</label>
												<div class="col-sm-9">
													<input type="number" class="form-control"
														readonly="readonly"
														data-ng-value="((bactCtrl.bankAction.titulos*bactCtrl.bankAction.unitCost)*bactCtrl.tcFinal.MXN)-((bactCtrl.bankAction.titulos*bactCtrl.bankAction.unitCost)*bactCtrl.tcInical.MXN)">
												</div>
											</div>

											<div class="form-group row">
												<div class="col-sm-4 offset-sm-3">
													<button type="button" class="btn btn-secondary"
														data-ng-click="bactCtrl.cancelbankAction()">Cancelar</button>
													<button type="submit" class="btn"
														data-ng-class="!bactCtrl.bankAction.id? 'btn-primary' : 'btn-info'">{{!bactCtrl.bankAction.id?
														'Registrar' : 'Actualizar'}}</button>
												</div>
											</div>
											<div class="line"></div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- termina venta form -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Seccion de tabla -->
<section data-ng-if="!bactCtrl.bankAction">
	<div class="container-fluid">
		<header>
			<h1 class="h3 display">Actions</h1>
		</header>
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-header">
						<div class="row">
							<div class="col-sm-2">
								<button type="button" class="btn btn-primary"
									data-ng-click="bactCtrl.newBankAction()">
									<i class="fa fa-plus"></i> Nueva acción
								</button>
							</div>
							<div class="col-sm-2">
								<!-- Button trigger modal -->
								<button type="button" class="btn btn-primary"
									data-toggle="modal" data-target="#exampleModal">
									Cargar archivo de acciones</button>
							</div>

							<div class="col-sm-4">
								<input type="search" placeholder="Buscar cuenta"
									class="form-control"
									data-ng-model="bactCtrl.filterActionNumber">
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>#</th>
										<th>Institución bancaria</th>
										<th>Instrumento de inversión (Nombre)</th>
										<th>Cusip</th>
										<th>ISIN/Serie</th>
										<th>Security Identifier</th>
										<th>Títulos (Cantidad)</th>
										<th>Unit Cost</th>
										<th>Valor a costo</th>
										<th>Fecha Adquisición</th>
										<th>Registro Contable</th>
										<th>Valor</th>
										<th>Moneda original</th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr
										data-ng-repeat="ba in bactCtrl.filteredActions | filter: bactCtrl.filterActionNumber track by $index">
										<td scope="row">{{$index+1}}</td>
										<td>{{ba.institucion}}</td>
										<td>{{ba.instrumento}}</td>
										<td>{{ba.cusip}}</td>
										<td>{{ba.isinSerie}}</td>
										<td>{{ba.secId}}</td>
										<td>{{ba.titulos}}</td>
										<td>{{ba.unitCost}}</td>
										<td>{{ba.titulos*ba.unitCost}}</td>
										<td>{{ba.fechaInicio | date : 'dd/MM/yyyy'}}</td>
										<td>{{ba.registroContable}}</td>
										<td>{{ba.valor}}</td>
										<td>{{ba.monedaOriginal}}</td>
										<td><button class="btn btn-info"
												data-ng-click="bactCtrl.getHistory(ba)" data-toggle="modal"
												data-target="#historyModal">Historial</button></td>
										<td><button class="btn btn-warning"
												data-ng-click="bactCtrl.update(ba)">Actualizar</button></td>
										<td><button class="btn btn-danger"
												data-ng-click="bactCtrl.del(ba)">Eliminar</button></td>
									</tr>
								</tbody>
							</table>
							View <select data-ng-model="bactCtrl.viewby" class="form-control"
								data-ng-change="bactCtrl.setItemsPerPage(bactCtrl.viewby)">
								<option>3</option>
								<option>5</option>
								<option>10</option>
								<option>20</option>
								<option>30</option>
								<option>40</option>
								<option>50</option>
							</select> records at a time.

							<pager uib-pagination total-items="bactCtrl.bankActions.length"
								ng-model="bactCtrl.currentPage"
								items-per-page="bactCtrl.itemsPerPage"
								num-pages="bactCtrl.numPages" ng-change="bactCtrl.pageChanged()"
								max-size="bactCtrl.maxSize" class="pagination-sm"
								boundary-link-numbers="true" rotate="false"
								boundary-links="true"></pager>
							<pre>Page: {{bactCtrl.currentPage}} / {{bactCtrl.numPages}}</pre>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Carga de
						movimientos de cuenta</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<input data-file-model="bactCtrl.myFile" type="file" id="file"
						name="file" />
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
					<button type="button" data-ng-click="bactCtrl.addDocument()"
						class="btn btn-primary" data-ng-disabled="bactCtrl.processing">Cargar</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="historyModal" tabindex="-1" role="dialog"
		aria-labelledby="historyModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="historyModalLabel">Historial de
						accion</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body"
					style="overflow-y: scroll; max-height: 59vh;">
					<div class="table-responsive">
						<table class="table sticky-header">
							<thead class="thead-dark">
								<tr>
									<th scope="col">Registro contable</th>
									<th>Fecha inicio</th>
									<th>Fecha fin</th>
									<th scope="col">T.C.</th>
									<th scope="col">T.C. Inicial</th>
									<th scope="col">T.C. Final</th>
									<th scope="col">ID</th>
								</tr>
							</thead>
							<tbody>
								<tr
									data-ng-repeat="ha in bactCtrl.actionsHistory | orderBy : ha.fechaInicio track by $index">
									<th scope="row">{{ha.registroContable}}</th>
									<td><time>{{ha.fechaInicio | date: 'dd/MM/yyyy'}}</time></td>
									<td><time>{{ha.fechaFinal | date: 'dd/MM/yyyy'}}</time></td>
									<td>{{ha.tC}}</td>
									<td>{{ha.tcInicial}}</td>
									<td>{{ha.tcFinal}}</td>
									<td>{{'CUSIP: ' + ha.cusip + ', ISIN/Serie: ' +
										ha.isinSerie + ', SEC. ID: ' + ha.secId}}</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- lists of data -->
	<datalist id="registroContableOpts">
		<option value="Capital">
		<option value="Resultados">
	</datalist>
	<datalist id="valorOpts">
		<option value="Acciones">
		<option value="Deuda, Bonos y Gubernamental en Pesos">
		<option value="Deuda, Bonos y Gubernamental en USD">
		<option value="Efectivo">
	</datalist>
	<datalist id="monedaOriginalOpts">
		<option value="AUD">
		<option value="EUR">
		<option value="GBP">
		<option value="MXP">
		<option value="USD">
	</datalist>
</section>

<script>
$(document).ready(function(){
    $(".sticky-header").floatThead({top:50});
});
</script>