<meta charset="utf-8">
<style>
<!--
table.floatThead-table {
	border-top: none;
	border-bottom: none;
	background-color: #fff;
}

div.modal-lg {
	max-width: 950px !important;
}
-->
</style>
<div class="breadcrumb-holder">
	<div class="container-fluid">
		<ul class="breadcrumb">
			<li class="breadcrumb-item"><a href="#!"
				data-ng-click="bactCtrl.stateGoTo('home', null)">Inicio</a></li>
			<li class="breadcrumb-item" data-ng-if="bactCtrl.account.company"><a
				href="#!bussiness"
				data-ng-click="bactCtrl.stateGoTo('bussiness', {company: bactCtrl.account.company})">Empresas</a></li>
			<li class="breadcrumb-item" data-ng-if="bactCtrl.account"><a
				href="#!bank-accounts"
				data-ng-click="bactCtrl.stateGoTo('bank-accounts', {account: bactCtrl.account})">Cuentas
					de Inversión</a></li>
			<li class="breadcrumb-item active">Instrumentos de Inversión</li>
		</ul>
	</div>
</div>
<!-- Seccion de contenido -->
<section data-ng-if="bactCtrl.bankAction">
	<div class="container-fluid">
		<header>
			<h1 class="h3 display">{{!bactCtrl.bankAction.id? 'Nuevo' :
				'Actualizar'}} Instrumento de inversión</h1>
		</header>


		<ul class="nav nav-tabs">
			<li class="nav-item active"><a class="nav-link active"
				id="v-pills-home-tab" data-toggle="pill" data-target="#v-pills-home"
				target="_self" role="tab" aria-controls="v-pills-home"
				aria-selected="true">Adquisiciones</a></li>
			<li class="nav-item"><a class="nav-link"
				id="v-pills-profile-tab" target="_self" data-toggle="pill"
				data-target="#v-pills-profile" role="tab"
				aria-controls="v-pills-profile" aria-selected="false">Valuación
					Subsecuente</a></li>
			<li class="nav-item"><a class="nav-link"
				id="v-pills-messages-tab" data-toggle="pill"
				data-target="#v-pills-messages" target="_self" role="tab"
				aria-controls="v-pills-messages" aria-selected="false">Venta</a></li>

		</ul>


		<div class="tab-content" id="v-pills-tabContent">
			<div class="tab-pane fade show active" id="v-pills-home"
				role="tabpanel" aria-labelledby="v-pills-home-tab">
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-header"></div>
							<div class="card-body">
								<form class="form-horizontal" name="formbankAction"
									data-ng-submit="bactCtrl.submitForm(formbankAction.$valid)">
									<div class="line"></div>
									<div class="form-group row"
										data-ng-if="!bactCtrl.account || !bactCtrl.subAccountType">
										<label class="col-sm-3 form-control-label">Banco</label>
										<div class="col-sm-9">
											<select class="form-control col-sm-11"
												data-ng-options="banco as banco.name for banco in bactCtrl.banks track by banco.id"
												data-ng-model="bactCtrl.selectedBank">
												<option value="" selected>Seleccione un banco...</option>
												<option value="?"></option>
											</select>
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row"
										data-ng-if="!bactCtrl.account || !bactCtrl.subAccountType">
										<label class="col-sm-3 form-control-label">Institución
											Cuenta de inversión</label>
										<div class="col-sm-9">
											<select class="form-control"
												data-ng-model="bactCtrl.bankAction.account"
												required="required"
												data-ng-change="bactCtrl.validateAccount()"
												data-ng-options="ba as ba.accountNumber for ba in bactCtrl.bankAccounts |filter: {bank: bactCtrl.selectedBank} track by ba.id">
												<option selected value="">Seleccione un valor..</option>
											</select>
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row"
										data-ng-if="!bactCtrl.subAccountType">
										<label class="col-sm-3 form-control-label">Sub cuentas</label>
										<div class="col-sm-9">
											<select class="form-control"
												data-ng-model="bactCtrl.bankAction.subAccountType"
												required="required">
												<option value="">Seleccione un valor..</option>
												<option data-ng-value="1" value="1"
													data-ng-show="bactCtrl.bankAction.account.isInversionEnDolares"
													data-ng-disabled="!bactCtrl.bankAction.account.isInversionEnDolares">Inversión
													en dólares
													{{bactCtrl.bankAction.account.inversionEnDolaresAccountNumber}}</option>
												<option data-ng-value="2" value="2"
													data-ng-show="bactCtrl.bankAction.account.isInversionEnPesos"
													data-ng-disabled="!bactCtrl.bankAction.account.isInversionEnPesos">Inversión
													en pesos
													{{bactCtrl.bankAction.account.inversionEnPesosAccountNumber}}</option>
												<option data-ng-value="3" value="3"
													data-ng-show="bactCtrl.bankAction.account.isEfectivoEnDolares"
													data-ng-disabled="!bactCtrl.bankAction.account.isEfectivoEnDolares">Efectivo
													en dólares
													{{bactCtrl.bankAction.account.efectivoEnDolaresAccountNumber}}</option>
												<option data-ng-value="4" value="4"
													data-ng-show="bactCtrl.bankAction.account.isEfectivoEnPesos"
													data-ng-disabled="!bactCtrl.bankAction.account.isEfectivoEnPesos">Efectivo
													en pesos
													{{bactCtrl.bankAction.account.efectivoEnPesosAccountNumber}}</option>
											</select>
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Institución
											bancaria</label>
										<div class="col-sm-9">
											<input type="text" class="form-control"
												data-ng-readonly="bactCtrl.bankAction.account.bank.id || bactCtrl.account.bank.id"
												data-ng-model="bactCtrl.bankAction.institucion"
												data-ng-value="bactCtrl.bankAction.account.bank ? bactCtrl.bankAction.account.bank.name : bactCtrl.account.bank ? bactCtrl.account.bank.name :''">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Instrumento
											de inversión</label>
										<div class="col-sm-9">
											<input type="text" class="form-control"
												data-ng-readonly="bactCtrl.bankAction.account.accountType.name || bactCtrl.account.accountType.name"
												data-ng-keyup="bactCtrl.complete(bactCtrl.bankAction.instrumento)"
												data-ng-model="bactCtrl.bankAction.instrumento"
												data-ng-value="bactCtrl.bankAction.account.accountType.name ? bactCtrl.bankAction.account.accountType.name : bactCtrl.account.accountType.name ? bactCtrl.account.accountType.name :''">
											<ul class="list-group">
												<li class="list-group-item"
													data-ng-repeat="instdata in bactCtrl.filterInst"
													data-ng-click="bactCtrl.fillTextbox(instdata)">{{instdata}}</li>
											</ul>

										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">CUSIP</label>
										<div class="col-sm-9">
											<input type="text" class="form-control"
												ng-blur="bactCtrl.findFirsTCInitial()"
												data-ng-model="bactCtrl.bankAction.cusip">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">ISIN/Serie</label>
										<div class="col-sm-9">
											<input type="text" class="form-control"
											ng-blur="bactCtrl.findFirsTCInitial()"
												data-ng-model="bactCtrl.bankAction.isinSerie">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Security
											Identifier</label>
										<div class="col-sm-9">
											<input type="text" class="form-control"
												ng-blur="bactCtrl.findFirsTCInitial()"
												data-ng-model="bactCtrl.bankAction.secId">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Títulos
											(Cantidad)</label>
										<div class="col-sm-9">
											<input type="text" step="any" class="form-control"
												data-ng-channge="bactCtrl.calculateUnicost()"
												ui-quantity data-ng-model="bactCtrl.bankAction.titulos">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Unit Cost</label>
										<div class="col-sm-9">
											<input type="text" step="any" class="form-control"
												data-ng-change="bactCtrl.calculateValorCost()"
												ui-currency data-ng-model="bactCtrl.bankAction.unitCost">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Unit Cost
											(calculado)</label>
										<div class="col-sm-9">
											<input type="text" step="any" class="form-control"
												readonly="readonly" placeholder="Valor calculado"
												
												value="{{bactCtrl.unicostCalculated | currency:'$':4}}">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Valor a
											costo</label>
										<div class="col-sm-9">
											<input type="text" step="any" class="form-control"
												placeholder=""
												data-ng-readonly="bactCtrl.bankAction.unitCost"
												value="{{bactCtrl.valorACosto | currency:'$':4}}">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Fecha de
											adquisición</label>
										<div class="col-sm-9">
											<input type="date" class="form-control"
												data-ng-max="{{bactCtrl.maxDate}}"
												max="{{bactCtrl.maxDate | date:'yyyy-MM-dd'}}"
												data-ng-model="bactCtrl.bankAction.fechaDeAdquisicion">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Registro
											contable</label>
										<div class="col-sm-9">
											<input type="text" class="form-control"
												list="registroContableOpts"
												data-ng-model="bactCtrl.bankAction.registroContable">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Valor</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" list="valorOpts"
												data-ng-model="bactCtrl.bankAction.valor">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Moneda
											Original</label>
										<div class="col-sm-9">
											<input type="text" class="form-control"
												list="monedaOriginalOpts"
												data-ng-model="bactCtrl.bankAction.monedaOriginal">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Fecha final
											del periodo</label>
										<div class="col-sm-9">
											<input type="date" class="form-control"
												data-ng-model="bactCtrl.bankAction.fechaFinalReal">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">T.C.
											Inicial</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" step="0.0001" min="0"
												ui-currency data-ng-model="bactCtrl.bankAction.tcInicial">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">T.C. Final</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" step="0.0001" min="0"
												ui-currency data-ng-model="bactCtrl.bankAction.tcFinal">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Valuacion
											Dls Compra</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" readonly="readonly"
												value="{{(bactCtrl.bankAction.titulos*bactCtrl.bankAction.unitCost)*(bactCtrl.bankAction.tcInicial ? bactCtrl.bankAction.tcInicial : bactCtrl.tcInicial.MXN)| currency:'$':4}}">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Valuacion
											Dls afectados al Final del periodo</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" readonly="readonly"
												value="{{(bactCtrl.bankAction.titulos*bactCtrl.bankAction.unitCost)* (bactCtrl.bankAction.tcFinal ? bactCtrl.bankAction.tcFinal : bactCtrl.tcFinal.MXN) | currency:'$':4}}">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Utilidad
											(pérdida) por valuación</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" readonly="readonly"
												value="{{((bactCtrl.bankAction.titulos*bactCtrl.bankAction.unitCost)*(bactCtrl.bankAction.tcFinal ? bactCtrl.bankAction.tcFinal : bactCtrl.tcFinal.MXN))-((bactCtrl.bankAction.titulos*bactCtrl.bankAction.unitCost)*(bactCtrl.bankAction.tcInicial ? bactCtrl.bankAction.tcInicial : bactCtrl.tcInicial.MXN)) | currency:'$':4}}">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Fecha del
											precio de mercado</label>
										<div class="col-sm-9">
											<input type="date" class="form-control" readonly="readonly"
												value="{{bactCtrl.bankAction.fechaFinalReal | date: 'yyyy-MM-dd'}}">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Market
											price (Precio de mercado)</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" 
												ui-currency data-ng-model="bactCtrl.bankAction.marketPrice">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Valor de
											mercado</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" readonly="readonly"
												step=".00001"
												value="{{bactCtrl.bankAction.marketPrice*bactCtrl.bankAction.titulos | currency:'$':4}}">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Plusv/minusv
											mensual</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" readonly="readonly"
												value="{{(bactCtrl.bankAction.marketPrice*bactCtrl.bankAction.titulos)-(bactCtrl.bankAction.titulos*bactCtrl.bankAction.unitCost) | currency:'$':4}}">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Plusv/minusv
											acumulado</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" readonly="readonly"
												value="{{(bactCtrl.bankAction.marketPrice*bactCtrl.bankAction.titulos)-(bactCtrl.bankAction.titulos*bactCtrl.bankAction.unitCost)| currency:'$':4}}">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Int
											Devengado mensual</label>
										<div class="col-sm-9">
											<input type="number" class="form-control" readonly="readonly"
												data-ng-value="0">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Int
											Devengado acumulado</label>
										<div class="col-sm-9">
											<input type="number" class="form-control" readonly="readonly"
												data-ng-value="0">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Fecha final
											del periodo</label>
										<div class="col-sm-9">
											<input type="date" class="form-control" readonly="readonly"
												value="{{bactCtrl.bankAction.fechaFinalReal | date: 'yyyy-MM-dd'}}">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Valuación
											Dls al Final del periodo</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" readonly="readonly"
												value="{{(bactCtrl.bankAction.marketPrice*bactCtrl.bankAction.titulos)*(bactCtrl.bankAction.tcFinal ? bactCtrl.bankAction.tcFinal : bactCtrl.tcFinal.MXN)|currency:'$':4}}">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Plusv/minusv
											mensual</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" readonly="readonly"
												value="{{((bactCtrl.bankAction.marketPrice*bactCtrl.bankAction.titulos)*(bactCtrl.bankAction.tcFinal ? bactCtrl.bankAction.tcFinal : bactCtrl.tcFinal.MXN))-((bactCtrl.bankAction.titulos*bactCtrl.bankAction.unitCost)*(bactCtrl.bankAction.tcInicial > 0 ? bactCtrl.bankAction.tcInicial : bactCtrl.tcInicial.MXN))|currency:'$':4}}">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Plusv/minusv
											acumulado</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" readonly="readonly"
												value="{{((bactCtrl.bankAction.marketPrice*bactCtrl.bankAction.titulos)*(bactCtrl.bankAction.tcFinal ? bactCtrl.bankAction.tcFinal : bactCtrl.tcFinal.MXN))-((bactCtrl.bankAction.titulos*bactCtrl.bankAction.unitCost)*(bactCtrl.bankAction.tcInicial ? bactCtrl.bankAction.tcInicial : bactCtrl.tcInicial.MXN)) | currency:'$':4}}">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Valor
											actual de acuerdo al valor registrado al día de hoy</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" step="0.00001"
												min="0" ui-currency
												data-ng-model="bactCtrl.bankAction.valorActualRegistradoManualmente">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<div class="col-sm-4 offset-sm-3">
											<button type="button" class="btn btn-secondary"
												data-ng-click="bactCtrl.cancelbankAction()">Cancelar</button>
											<button type="submit" class="btn"
												data-ng-class="!bactCtrl.bankAction.id? 'btn-primary' : 'btn-info'">{{!bactCtrl.bankAction.id?
												'Registrar' : 'Actualizar'}}</button>
										</div>
									</div>
									<div class="line"></div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- termina adquisicion form -->
			<div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
				aria-labelledby="v-pills-profile-tab">
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-header"></div>
							<div class="card-body">
								<form class="form-horizontal" name="formbankAction"
									data-ng-submit="bactCtrl.submitForm(formbankAction.$valid)"
									novalidate>

									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Market
											price (Precio de mercado)</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" ui-currency
												data-ng-change="bactCtrl.calculateValorMercado()"
												data-ng-model="bactCtrl.bankAction.valuation.marketPrice">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Valor de
											mercado</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" readonly="readonly"
												value="{{bactCtrl.bankAction.valuation.valorDeMercado | currency:'$':4}}">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Plusv/minusv
											mensual</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" ui-currency
												data-ng-model="bactCtrl.bankAction.valuation.plusvMinusvMensual"
												value="{{(bactCtrl.bankAction.valuation.marketPrice*bactCtrl.bankAction.titulos)-(bactCtrl.bankAction.marketPrice*bactCtrl.bankAction.titulos)|currency:'$':4}}">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Plusv/minusv
											acumulado</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" ui-currency
												data-ng-model="bactCtrl.bankAction.valuation.plusvMinusvAcumulado"
												value="{{(bactCtrl.bankAction.valuation.marketPrice*bactCtrl.bankAction.titulos)-(bactCtrl.bankAction.titulos*bactCtrl.bankAction.unitCost) |currency:'$':4}}">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Int
											Devengado mensual</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" ui-currency
												data-ng-model="bactCtrl.bankAction.valuation.intDevMensual"
												data-ng-value="0">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Int
											Devengado acumulado</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" ui-currency
												data-ng-model="bactCtrl.bankAction.valuation.intDevAcumulado"
												data-ng-value="0">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Fecha final
											del periodo</label>
										<div class="col-sm-9">
											<input type="date" class="form-control"
												data-ng-model="bactCtrl.bankAction.valuation.fechaFinalDelPeriodo"
												value="{{bactCtrl.bankAction.valuation.fechaFinalDelPeriodo | date: 'yyyy-MM-dd'}}">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">T.C.
											Inicial</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" ui-currency
												data-ng-model="bactCtrl.bankAction.valuation.tcInicial"
												data-ng-keyup="bactCtrl.restaValuaciones()">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">T.C. Final</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" ui-currency
												data-ng-model="bactCtrl.bankAction.valuation.tcFinal"
												data-ng-keyup="bactCtrl.restaValuaciones(); bactCtrl.actualizarTcInicial();"
												value="{{(bactCtrl.bankAction.valuation.tcFinal ? bactCtrl.bankAction.valuation.tcFinal : bactCtrl.tcFinal.MXN)|currency:'$':4}}">
										</div>
									</div>

									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Valuación
											Dls periodo anterior</label>
										<div class="col-sm-9">
											<input type="text" class="form-control"
												data-ng-keyup="bactCtrl.restaValuaciones()" ui-currency
												data-ng-model="bactCtrl.bankAction.valuation.valuacionDolaresPeriodoAnterior"
												value="{{(bactCtrl.bankAction.valuation.tcInicial* (bactCtrl.bankAction.unitCost*bactCtrl.bankAction.titulos))|currency:'$':4}}">
										</div>
									</div>

									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Valuación
											Dls al Final del periodo</label>
										<div class="col-sm-9">
											<input type="text"
												data-ng-keyup="bactCtrl.restaValuaciones()" ui-currency
												data-ng-model="bactCtrl.bankAction.valuation.valuacionDolaresAlFinal"
												class="form-control"												
												value="{{(bactCtrl.bankAction.valuation.tcFinal* (bactCtrl.bankAction.unitCost*bactCtrl.bankAction.titulos))|currency:'$':4}}">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Utilidad
											(pérdida) por valuación</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" ui-currency
												data-ng-model="bactCtrl.bankAction.valuation.utilidadPerdidaPorValuacion"
												
												value="{{(bactCtrl.bankAction.valuation.tcFinal* (bactCtrl.bankAction.unitCost*bactCtrl.bankAction.titulos)) - (bactCtrl.bankAction.valuation.tcInicial* (bactCtrl.bankAction.unitCost*bactCtrl.bankAction.titulos)) |currency:'$':4}}">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<div class="col-sm-4 offset-sm-3">
											<button type="button" class="btn btn-secondary"
												data-ng-click="bactCtrl.cancelbankAction()">Cancelar</button>
											<button type="submit" class="btn"
												data-ng-class="!bactCtrl.bankAction.id? 'btn-primary' : 'btn-info'">{{!bactCtrl.bankAction.id?
												'Registrar' : 'Actualizar'}}</button>
										</div>
									</div>
									<div class="line"></div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- temrmina subsecuente -->
			<div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
				aria-labelledby="v-pills-messages-tab">
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-header"></div>
							<div class="card-body">
								<form class="form-horizontal" name="formbankAction"
									data-ng-submit="bactCtrl.submitForm(formbankAction.$valid)"
									novalidate>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Saldo
											inicial</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" step="0.00001"
												ui-currency data-ng-blur="bactCtrl.findFirsTCInitial()"
												data-ng-model="bactCtrl.bankAction.sell.saldoInicial"
												value="{{bactCtrl.bankAction.saldoInicial|currency:'$':4}}">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Cancelación
											de Valuación por Venta</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" 
												ui-currency
												data-ng-model="bactCtrl.bankAction.sell.cancelacionValuacionPorVenta"
												value="{{bactCtrl.bankAction.valuation.plusvMinusvMensual*(-1.00)|currency:'$':4}}">
										</div>
									</div>									
									<div class="line"></div>									
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Ventas</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" 
												ui-currency
												data-ng-model="bactCtrl.bankAction.sell.ventas">
										</div>
									</div>	
									<div class="line"></div>									
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Utilidad (pérdida)</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" readonly="readonly"
												
												value="{{bactCtrl.bankAction.sell.saldoInicial-bactCtrl.bankAction.sell.cancelacionValuacionPorVenta-bactCtrl.bankAction.sell.ventas| currency : '$': 4}}">
										</div>
									</div>								
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">T.C.
											Inicial</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" ui-currency
												data-ng-change="bactCtrl.calculateValuacionDlsPA()"
												data-ng-readonly ="bactCtrl.firstTcInicial[0].sell.tcInicial"
												data-ng-model="bactCtrl.bankAction.sell.tcInicial">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">T.C. Final</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" ui-currency
												data-ng-change="bactCtrl.calculateValuacionDlsPF()"
												data-ng-model="bactCtrl.bankAction.sell.tcFinal" data-ng-keyup="bactCtrl.actualizarTcInicialSell(); bactCtrl.restaValuacionesSell"
												>
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Fecha de
											Venta</label>
										<div class="col-sm-9">
											<input type="date" class="form-control"
												data-ng-model="bactCtrl.bankAction.sell.fechaVenta"
												value="{{bactCtrl.bankAction.sell.fechaVenta | date: 'yyyy-MM-dd'}}">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Valuacion
											Dls periodo anterior</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" readonly="readonly"
												value="{{bactCtrl.bankAction.sell.valuacionDlsPeriodoAnterior | currency:'$':4}}">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Valuacion
											Dls al Final del periodo</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" readonly="readonly"
												value="{{bactCtrl.bankAction.sell.valuacionDlsAlFinalDelPeriodo |currency:'$':4}}">
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Utilidad
											(pérdida) por valuación</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" 
												ui-currency
												data-ng-model="bactCtrl.bankAction.sell.utilidadPerdidaPorValuacion"
												value="{{bactCtrl.bankAction.sell.valuacionDlsAlFinalDelPeriodo - bactCtrl.bankAction.sell.valuacionDlsPeriodoAnterior|currency: '$':4}}"
												>
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Vendida?</label>
										<div class="col-sm-9">
											<label> <input type="radio" class="form-check-input"
												name="radioVendida"
												data-ng-model="bactCtrl.bankAction.isVendida"
												data-ng-checked="bactCtrl.bankAction.isVendida === 1 || !bactCtrl.bankAction.id"
												value="1" data-ng-value="1"> Si
											</label><br /> <label> <input type="radio"
												name="radioVendida" class="form-check-input"
												data-ng-model="bactCtrl.bankAction.isVendida"
												data-ng-value="0" value="0"
												data-ng-checked="!bactCtrl.bankAction.isVendida"> No
											</label><br />
										</div>
									</div>
									<div class="line"></div>
									<div class="form-group row">
										<div class="col-sm-4 offset-sm-3">
											<button type="button" class="btn btn-secondary"
												data-ng-click="bactCtrl.cancelbankAction()">Cancelar</button>
											<button type="submit" class="btn"
												data-ng-class="!bactCtrl.bankAction.id? 'btn-primary' : 'btn-info'">{{!bactCtrl.bankAction.id?
												'Registrar' : 'Actualizar'}}</button>
										</div>
									</div>
									<div class="line"></div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- termina venta form -->

		</div>
	</div>

</section>
<!-- Seccion de tabla -->
<section data-ng-if="!bactCtrl.bankAction">
	<div class="container-fluid">
		<header>
			<div class="float-left">
				<h1 class="h3 display">Instrumentos de Inversión
					{{bactCtrl.account ? bactCtrl.account.accountNumber : ''}}</h1>
			</div>

		</header>
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-header">
						<div class="row">
							<div class="col-sm-3">
								<input type="search" placeholder="Buscar por CUSIP"
									class="form-control" data-ng-change="bactCtrl.filterActions()"
									data-ng-model="bactCtrl.filterActionNumberCusip">
							</div>
							<div class="col-sm-3">
								<input type="search" placeholder="Buscar por ISIN/Serie"
									class="form-control" data-ng-change="bactCtrl.filterActions()"
									data-ng-model="bactCtrl.filterActionNumberIsin">
							</div>
							<div class="col-sm-3">
								<input type="search" placeholder="Buscar por Security ID"
									class="form-control" data-ng-change="bactCtrl.filterActions()"
									data-ng-model="bactCtrl.filterActionNumberSecId">
							</div>
							<div class="float-right">
								<div class="btn-group" role="group" aria-label="Basic example">
									<button type="button" class="btn btn-primary"
										data-ng-click="bactCtrl.newBankAction()">
										<i class="fa fa-plus"></i>Agregar
									</button>
									<button type="button" class="btn btn-info" data-toggle="modal"
										data-ng-if="bactCtrl.account" data-target="#exampleModal">
										<i class="fa fa-upload"></i>Cargar
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive"
							data-ng-if="bactCtrl.filteredActions.length">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>ID</th>
										<th>Institución bancaria</th>
										<th>Instrumento de inversión (Nombre)</th>
										<th>Cusip</th>
										<th>ISIN/Serie</th>
										<th>Security Identifier</th>
										<th>Títulos (Cantidad)</th>
										<th>Unit Cost</th>
										<th>Valor a costo</th>
										<th>Fecha Adquisición</th>
										<th>Registro Contable</th>
										<th>Valor</th>
										<th>Moneda original</th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr
										data-ng-repeat="ba in bactCtrl.filteredActions track by $index">
										<td scope="row">{{ba.id}}</td>
										<td>{{ba.institucion}}</td>
										<td>{{ba.instrumento}}</td>
										<td>{{ba.cusip}}</td>
										<td>{{ba.isinSerie}}</td>
										<td>{{ba.secId}}</td>
										<td>{{ba.titulos | number}}</td>
										<td>{{ba.unitCost | currency : '$' : 4}}</td>
										<td>{{ba.titulos*ba.unitCost | currency : '$' : 4}}</td>
										<td>{{ba.fechaDeAdquisicion | date : 'dd/MM/yyyy'}}</td>
										<td>{{ba.registroContable}}</td>
										<td>{{ba.valor}}</td>
										<td>{{ba.monedaOriginal}}</td>
										<td><button class="btn btn-info"
												data-ng-click="bactCtrl.getHistory(ba)" data-toggle="modal"
												data-target="#historyModal">Historial</button></td>
										<td><button class="btn btn-warning"
												data-ng-click="bactCtrl.update(ba)">Actualizar</button></td>
										<td><button class="btn btn-danger"
												data-ng-click="bactCtrl.del(ba)">Eliminar</button></td>
									</tr>
								</tbody>
							</table>
							<div
								data-ng-show="!bactCtrl.filteredActions.length && (bactCtrl.filterActionNumberCusip || bactCtrl.filterActionNumberIsin || bactCtrl.filterActionNumberSecId)">
								<p class="text-muted text-center">
									<i class="fas fa-search fa-3x"></i>
								</p>
								<p class="text-muted text-center">No se encontró información
									con los datos ingresados</p>
							</div>

							View <select data-ng-model="bactCtrl.viewby"
								class="form-control col-sm-3"
								data-ng-change="bactCtrl.setItemsPerPage(bactCtrl.viewby)">
								<option>3</option>
								<option>5</option>
								<option>10</option>
								<option>20</option>
								<option>30</option>
								<option>40</option>
								<option>50</option>
							</select> records at a time.

							<pager uib-pagination total-items="bactCtrl.bankActions.length"
								ng-model="bactCtrl.currentPage"
								items-per-page="bactCtrl.itemsPerPage"
								num-pages="bactCtrl.numPages" ng-change="bactCtrl.pageChanged()"
								max-size="bactCtrl.maxSize" class="pagination-sm"
								boundary-link-numbers="true" rotate="false"
								boundary-links="true"></pager>
							<pre>Page: {{bactCtrl.currentPage}} / {{bactCtrl.numPages}}</pre>

						</div>
						<div
							data-ng-show="!bactCtrl.filteredActions.length && (!bactCtrl.filterActionNumberCusip && !bactCtrl.filterActionNumberIsin && !bactCtrl.filterActionNumberSecId)">
							<p class="text-muted text-center">
								<i class="fas fa-search fa-3x"></i>
							</p>
							<p class="text-muted text-center">No se encontró información
								registrada</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Carga de
						movimientos de cuenta</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<input data-file-model="bactCtrl.myFile" type="file" id="file"
						name="file" />
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
					<button type="button" data-ng-click="bactCtrl.addDocument()"
						class="btn btn-primary" data-ng-disabled="bactCtrl.processing">Cargar</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="historyModal" tabindex="-1" role="dialog"
		aria-labelledby="historyModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="historyModalLabel">Movimientos del
						instrumento de inversión {{bactCtrl.actionToGetHistory.cusip ?
						bactCtrl.actionToGetHistory.cusip :
						bactCtrl.actionToGetHistory.isinSerie ?
						bactCtrl.actionToGetHistory.isinSerie :
						bactCtrl.actionToGetHistory.secId ?
						bactCtrl.actionToGetHistory.secId :
						bactCtrl.actionToGetHistory.id}}</h5>

					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body"
					style="overflow-y: scroll; max-height: 59vh;">
					<div class="table-responsive"
						data-ng-if="bactCtrl.actionsHistory.length">
						<table class="table sticky-header">
							<thead class="thead-dark">
								<tr>
									<th>Total de movimientos: {{bactCtrl.actionsHistory.length
										| number}}</th>

									<th colspan="1">Utilidad (pérdida) por valuación:
										{{bactCtrl.utilidadPerdidaPorValuacion | currency: '$'}}</th>
									<th colspan="1">Plusv/minusv acumulado:
										{{bactCtrl.plusMinusV | currency : '$'}}</th>
									<th colspan="2">Valor actual de instrumento de Inversión
										por tipo de cambio:
										{{bactCtrl.valorDeInstrumentoDeInversionPorTipoDeCambio |
										currency}}</th>
									<th colspan="2">Valor actual de instrumento de Inversión
										registrado manualmente:
										{{bactCtrl.valorActualRegistradoManualmente | currency}}</th>
									<th>Tipo de cambio actual: {{bactCtrl.valorDelDolarActual
										| currency : '$': 2}}</th>
									<th></th>
								</tr>
								<tr>
									<th scope="col">#
									</th>
									<th scope="col">ID
									</th>
									<th scope="col">Registro contable</th>
									<th scope="col">Fecha inicio</th>
									<th scope="col">Fecha fin</th>
									<th scope="col">T.C.</th>
									<th scope="col">T.C. Inicial</th>
									<th scope="col">T.C. Final</th>
									<th scope="col">ID</th>
								</tr>
							</thead>
							<tbody>
								<tr
									data-ng-repeat="ha in bactCtrl.actionsHistory | orderBy : ha.fechaInicioReal track by ha.id">
									<th scope="row">{{$index+1}}</th>
									<th>{{ha.id}}</th>
									<th>{{ha.valor}}</th>
									<td><time>{{ha.fechaInicioReal | date : 'dd/MM/yyyy' : '+0500'}}</time></td>
									<td><time>{{ha.fechaFinalReal | date : 'dd/MM/yyyy' : '+0500'}}</time></td>
									<td>{{ha.tC}}</td>
									<td>{{ha.tcInicial}}</td>
									<td>{{ha.tcFinal}}</td>
									<td
										data-ng-class="bactCtrl.actionToGetHistory.cusip == ha.cusip 
									&& bactCtrl.actionToGetHistory.isinSerie == ha.isinSerie
									&& bactCtrl.actionToGetHistory.secId == ha.secId? '': 'text-danger'">{{'CUSIP:
										' + (ha.cusip ? ha.cusip : '-') + ', ISIN/Serie: ' +
										ha.isinSerie + ', SEC. ID: ' + ha.secId}}</td>
								</tr>

							</tbody>
						</table>
					</div>
					<div data-ng-show="!bactCtrl.actionsHistory.length">
						<p class="text-muted text-center">
							<i class="fas fa-search fa-3x"></i>
						</p>
						<p class="text-muted text-center">No se encontró información
							registrada</p>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- lists of data -->
	<datalist id="registroContableOpts">
		<option value="Capital">
		<option value="Resultados">
	</datalist>
	<datalist id="valorOpts">
		<option value="Acciones">
		<option value="Deuda, Bonos y Gubernamental en Pesos">
		<option value="Deuda, Bonos y Gubernamental en USD">
		<option value="Efectivo">
	</datalist>
	<datalist id="monedaOriginalOpts">
		<option value="AUD">
		<option value="EUR">
		<option value="GBP">
		<option value="MXP">
		<option value="USD">
	</datalist>
</section>