<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"
	charset="ISO-8859-1">
<div class="breadcrumb-holder">
	<div class="container-fluid">
		<ul class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Inicio</a></li>
			<li class="breadcrumb-item">Empresas</li>
		</ul>
	</div>
</div>
<!--Seccion de contenido  -->
<section data-ng-if="cCtrl.company">
	<div class="container-fluid">
		<header>
			<h1 class="h3 display">{{!cCtrl.company.id? 'Nueva':
				'Actualizar'}} Empresa</h1>
		</header>
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				<div class="card">
					<div class="card-header"></div>
					<div class="card-body">
						<form class="form-horizontal" name="formCompany"
							data-ng-submit="cCtrl.submitForm(formCompany.$valid)" novalidate>
							<div class="line"></div>
							<div class="form-group row">
								<label class="col-sm-2 form-control-label">Nombre</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" maxlength="30"
										data-ng-class="cCtrl.validClass.name? 'is-'+cCtrl.validClass.name:''"
										data-ng-model="cCtrl.company.name" required>
									<div class="d-block"
										data-ng-class="cCtrl.validClass.name? cCtrl.validClass.name+'-feedback':''"
										data-ng-show="cCtrl.validClass.name">Ingrese el nombre de la empresa</div>
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<label class="col-sm-2 form-control-label">Alias</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" maxlength="15"
										data-ng-class="cCtrl.validClass.friendlyAccount? 'is-'+cCtrl.validClass.friendlyAccount:''"
										data-ng-model="cCtrl.company.friendlyAccount" required>
									<div class="d-block"
										data-ng-class="cCtrl.validClass.friendlyAccount? cCtrl.validClass.friendlyAccount+'-feedback':''"
										data-ng-show="cCtrl.validClass.friendlyAccount">Ingrese un alias a la empresa</div>
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<label class="col-sm-2 form-control-label">RFC</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" maxlength="13" pattern="[A-Za-z0-9]+"
										data-ng-class="cCtrl.validClass.rfc? 'is-'+cCtrl.validClass.rfc:''"
										data-ng-model="cCtrl.company.rfc" required>
									<div class="d-block"
										data-ng-class="cCtrl.validClass.rfc? cCtrl.validClass.rfc+'-feedback':''"
										data-ng-show="cCtrl.validClass.rfc">Ingrese un número de cuenta</div>
								</div>
							</div>
							<div class="line"></div>
							<div class="form-group row">
								<div class="col-sm-4 offset-sm-2">
									<button type="button" class="btn btn-secondary"
										data-ng-click="cCtrl.cancel()">Cancelar</button>
									<button type="submit" class="btn"
										data-ng-class="!cCtrl.company.id? 'btn-primary': 'btn-info'">{{!cCtrl.company.id?
										'Registrar' : 'Actualizar'}}</button>

								</div>
							</div>
							<div class="line"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Seccion de tabla  -->
<section data-ng-if="!cCtrl.company">
	<div class="container-fluid">
		<header>
			<h1 class="h3 display">Empresas</h1>
		</header>
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card header">
						<div class="row">
							<div class="col-sm-2">
								<button type="button" class="btn btn-primary"
									data-ng-click="cCtrl.newCompany()">
									<i class="fa fa-plus"></i> Nueva empresa
								</button>
							</div>
							<div class="input-group col-sm-4">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<i class="fas fa-search"></i>
									</div>
								</div>
								<input type="search" placeholder="Buscar..."
									data-ng-change="cCtrl.filterSearch()"
									data-ng-model="cCtrl.filterCompany" class="form-control">
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive" data-ng-if="cCtrl.companys.length">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>#</th>
										<th>Nombre</th>
										<th>Alias</th>
										<th>RFC</th>
										<th></th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="co in cCtrl.companys | filter: cCtrl.filterCompany track by $index">
										<td>{{$index+1}}</td>
										<td>{{co.name}}</td>
										<td>{{co.friendlyAccount}}</td>
										<td>{{co.rfc}}</td>
										<td><button class="btn btn-success"
												data-ng-click="cCtrl.addBankAccount(co)">Detalles</button></td>
										<td><button class="btn btn-info"
												data-ng-click="cCtrl.update(co)">Actualizar</button></td>
										<td><button class="btn btn-danger"
												data-ng-click="cCtrl.confirmDelete(co)">Eliminar</button></td>
									</tr>
								</tbody>
							</table>
							<div data-ng-show="!cCtrl.companysLength.length && cCtrl.filterCompany != null">
								<p class="text-muted text-center"><i class="fas fa-search fa-3x"></i></p>
								<p class="text-muted text-center">No se encontró información con los datos ingresados</p>
							</div>
						</div>
						<div data-ng-show="!cCtrl.companys.length && !cCtrl.filterCompany != null">
								<p class="text-muted text-center"><i class="fas fa-search fa-3x"></i></p>
								<p class="text-muted text-center">Sin datos registrados</p>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>